<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/common/standardLayout.xhtml">
	<ui:define name="content">
		<h:form id="activityRegisterCompleteForm"
			enctype="multipart/form-data">
			<h1 style="color:#006ECC; padding-left:2px;">
				<h:outputText value="Activity Registration Complete" />
			</h1>
			<p:messages globalOnly="true" showDetail="false" showSummary="true"
				autoUpdate="true" />
			<p:separator></p:separator>
			<p:panelGrid id="basicInformationGrid" columns="2"
				columnClasses="width-30, width-70" layout="grid">

				<p:outputLabel
					value="#{label['activity_code']}" />
				<h:outputText id="code"
					value="#{activityRegisterCompleteAction.activity.code}" />

				<p:outputLabel
					value="#{label['activity_desc']}" />
				<h:outputText id="desc"
					value="#{activityRegisterCompleteAction.activity.desc}" />
					
				<p:outputLabel
					value="Impact Code" />
				<h:outputText id="impact"
					value="#{activityRegisterCompleteAction.activity.impactcode}" />
					
					<p:outputLabel
					value="Outcome Code" />
				<h:outputText id="outcome"
					value="#{activityRegisterCompleteAction.activity.outcomecode}" />
			
			<p:outputLabel
					value="Output Code" />
				<h:outputText id="output"
					value="#{activityRegisterCompleteAction.activity.outputcode}" />
					
			<p:outputLabel
					value="Template" />
				<h:outputText id="template"
					value="#{activityRegisterCompleteAction.activity.template}" />
				
			<p:outputLabel
					value="Township Code" />
				<h:outputText id="township_code"
					value="#{activityRegisterCompleteAction.activity.townshipCode}" />
					
			<p:outputLabel
					value="Township Name" />
				<h:outputText id="township_name"
					value="#{activityRegisterCompleteAction.activity.townshipName}" />
			
			
			<p:outputLabel
					value="Village Code" />
				<h:outputText id="village_code"
					value="#{activityRegisterCompleteAction.activity.villageCode}" />
					
			<p:outputLabel
					value="Village Name" />
				<h:outputText id="village_name"
					value="#{activityRegisterCompleteAction.activity.villageName}" />
			
			<p:outputLabel
					value="Other SCI Program" />
				<h:outputText id="otherProgram"
					value="#{activityRegisterCompleteAction.activity.interventionProgram}" />
			
			<p:outputLabel
					value="Target Point" />
				<h:outputText id="target"
					value="#{activityRegisterCompleteAction.activity.targetpoint}" />
					
			<p:outputLabel
					value="Reach Point" />
				<h:outputText id="reach"
					value="#{activityRegisterCompleteAction.activity.reachpoint}" />
					
					<p:outputLabel
					value="Variance" />
				<h:outputText id="variance"
					value="#{activityRegisterCompleteAction.activity.variance}" />
					
					<p:outputLabel
					value="Program Period" />					
				<h:outputText id="programPeriod"
					value="#{activityRegisterCompleteAction.activity.programPeriod}" />
			
			
			</p:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>
