<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/common/standardLayout.xhtml">
	<ui:define name="content">
		<h:form id="userUpdateCompleteForm"
			enctype="multipart/form-data">
			<h1 style="color:#006ECC; padding-left:2px;">
				<h:outputText value="Activity Update Successfully !" />
			</h1>
			<p:messages globalOnly="true" showDetail="false" showSummary="true"
				autoUpdate="true" />
			<p:separator></p:separator>
			<p:panelGrid id="basicInformationGrid" columns="2"
				columnClasses="width-30, width-70" layout="grid">
				
					<p:outputLabel
					value="Impact Code" />
				<h:outputText id="impact"
					value="#{activityUpdateCompleteAction.setting.impactcode}" />
					
					<p:outputLabel
					value="Outcome Code" />
				<h:outputText id="outcome"
					value="#{activityUpdateCompleteAction.setting.outcomecode}" />
			
			<p:outputLabel
					value="Output Code" />
				<h:outputText id="output"
					value="#{activityUpdateCompleteAction.setting.outputcode}" />
					
			<p:outputLabel
					value="Template" />
				<h:outputText id="template"
					value="#{activityUpdateCompleteAction.setting.template}" />

			<p:outputLabel
					value="#{label['setting_code']}" />
				<h:outputText id="code"
					value="#{activityUpdateCompleteAction.setting.code}" />

				<p:outputLabel
					value="#{label['setting_desc']}" />
				<h:outputText id="desc"
					value="#{activityUpdateCompleteAction.setting.desc}" />
					
					<p:outputLabel
					value="#{label['setting_date']}" />
				<h:outputText id="date"
					value="#{activityUpdateCompleteAction.setting.settingDate}" />
					
				<p:outputLabel
					value="#{label['township_code']}" />
				<h:outputText id="townshipcode"
					value="#{activityUpdateCompleteAction.setting.townshipCode}" />

				<p:outputLabel
					value="#{label['township_name']}" />
				<h:outputText id="townshipname"
					value="#{activityUpdateCompleteAction.setting.townshipName}" />
				
				<p:outputLabel
					value="#{label['village_code']}" />
				<h:outputText id="villagecode"
					value="#{activityUpdateCompleteAction.setting.villageCode}" />

				<p:outputLabel
					value="#{label['village_name']}" />
				<h:outputText id="villagename"
					value="#{activityUpdateCompleteAction.setting.villageName}" />
				
				<p:outputLabel
					value="#{label['other_program']}" />
				<h:outputText id="sciprogram"
					value="#{activityUpdateCompleteAction.setting.interventionProgram}" />	
				
				<p:outputLabel
					value="#{label['target']}" />
				<h:outputText id="target"
					value="#{activityUpdateCompleteAction.setting.targetpoint}" />

				<p:outputLabel
					value="#{label['reach']}" />
				<h:outputText id="reach"
					value="#{activityUpdateCompleteAction.setting.reachpoint}" />

					
					<p:outputLabel
					value="#{label['program_period']}" />
				<h:outputText id="programPeriod"
					value="#{activityUpdateCompleteAction.setting.programPeriod}" />

				
				
			</p:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>
