<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/common/standardLayout.xhtml">
	<ui:define name="content">
		<h:form id="settingRegistrationForm" >
			<h1  style="color:#006ECC; padding-left:10px;">
				<h:outputText  value="#{label['setting_activity_title']}" />
			</h1>
			 
			<p:separator styleClass="color:#006ECC"></p:separator>
			<p:messages globalOnly="true" showDetail="true" showSummary="true" closable="true" />
			<br></br>
			<p:panelGrid id="basicInformationGrid" columns="2"
				columnClasses="width-20, width-80" layout="grid">
				
						<p:outputLabel value="Impact Code"
									 styleClass="required" />
								<h:panelGroup>
									<p:selectOneMenu id="impact" label="Impact Code" required="true"
										value="#{settingActivityAction.activity.impactKey}" style="width:180px;" >
										<f:selectItem itemLabel="Select Impact" itemValue="" />
										<f:selectItems value="#{settingActivityAction.settingImpactList}"
											var="impact" itemLabel="#{impact.t1}"
											itemValue="#{impact.id}" />
									</p:selectOneMenu>
									<p:message for="impact" />
								</h:panelGroup>	
								
				<p:outputLabel value="Outcome Code"
									 styleClass="required" />
								<h:panelGroup>
									<p:selectOneMenu id="outcome" label="Outcome Code" required="true" style="width:180px;"
										value="#{settingActivityAction.activity.outcomeKey}" >
										<f:selectItem itemLabel="Select Outcome" itemValue="" />
										<f:selectItems value="#{settingActivityAction.settingOutcomeList}"
											var="outcome" itemLabel="#{outcome.t1}"
											itemValue="#{outcome.id}" />
									</p:selectOneMenu>
									<p:message for="impact" />
								</h:panelGroup>	
								
						<p:outputLabel value="Output Code"
									 styleClass="required" />
						<h:panelGroup>
									<p:selectOneMenu id="output" label="Output Code" required="true" style="width:180px;"
										value="#{settingActivityAction.activity.outputKey}" >
										<f:selectItem itemLabel="Select Output" itemValue="" />
										<f:selectItems value="#{settingActivityAction.settingOutputList}"
											var="output" itemLabel="#{output.t1}"
											itemValue="#{output.id}" />
									</p:selectOneMenu>
									<p:message for="output" />
						</h:panelGroup>	
						
					<p:outputLabel value="Activity Template"
									 styleClass="required" />
								<h:panelGroup>
									<p:selectOneMenu id="template" label="Template" required="true" style="width:180px;"
										value="#{settingActivityAction.activity.templateKey}" >
										<f:selectItem itemLabel="Select Template" itemValue="" />
										<f:selectItems value="#{settingActivityAction.templateList}"
											var="template" itemLabel="#{template.label}"
											itemValue="#{template.value}" />
									</p:selectOneMenu>
								
						
					
									<p:message for="template" />
								</h:panelGroup>	

				<p:outputLabel value="#{label['setting_code']}"
					styleClass="required" />
				<h:panelGroup>
					<p:inputText id="id" label="Code" required="true"
						maxlength="50" styleClass="width-30"
						value="#{settingActivityAction.activity.code}">
						<f:validateLength maximum="70" />
					</p:inputText>
					<p:message for="id" />
				</h:panelGroup>

				<p:outputLabel value="#{label['setting_desc']}" styleClass="required" />
				<h:panelGroup>
					<p:inputText id="desc" label="Description" maxlength="500" required="true"
						styleClass="width-30"
						value="#{settingActivityAction.activity.desc}">
						<f:validateLength maximum="500" />
					</p:inputText>
					<p:message for="desc" />
				</h:panelGroup>
				
					<p:outputLabel value="#{label['setting_date']}" styleClass="required"/>
				 <h:panelGroup>
					<p:calendar style="dateBox" id="settingdate" pattern="dd/MM/yyyy" required="true"
						label="Date" navigator="true" styleClass="date-width-20"
						value="#{settingActivityAction.activity.setting_date}">
					</p:calendar>
					<p:message for="settingdate" />
				</h:panelGroup> 

				<p:outputLabel value="#{label['township_code']}"
					styleClass="required" />
				<h:panelGroup>
					<p:inputText id="township_code" label="Township Code" required="true"
						maxlength="50" styleClass="width-30"
						value="#{settingActivityAction.activity.townshipCode}">
						<f:validateLength maximum="70" />
					</p:inputText>
					<p:message for="township_code" />
				</h:panelGroup>
				
					<p:outputLabel value="#{label['township_name']}"
					styleClass="required" />
				<h:panelGroup>
					<p:inputText id="township_name" label="Township Name" required="true"
						maxlength="50" styleClass="width-30"
						value="#{settingActivityAction.activity.townshipName}">
						<f:validateLength maximum="70" />
					</p:inputText>
					<p:message for="township_name" />
				</h:panelGroup>
				
				<p:outputLabel value="#{label['village_code']}"
					styleClass="required" />
				<h:panelGroup>
					<p:inputText id="village_code" label="Village Code" required="true"
						maxlength="50" styleClass="width-30"
						value="#{settingActivityAction.activity.villageCode}">
						<f:validateLength maximum="70" />
					</p:inputText>
					<p:message for="village_code" />
				</h:panelGroup>
				
				<p:outputLabel value="#{label['village_name']}"
					styleClass="required" />
				<h:panelGroup>
					<p:inputText id="village_name" label="Village Name" required="true"
						maxlength="50" styleClass="width-30"
						value="#{settingActivityAction.activity.villageName}">
						<f:validateLength maximum="70" />
					</p:inputText>
					<p:message for="village_name" />
				</h:panelGroup>
				
				<p:outputLabel value="#{label['other_program']}"
					styleClass="required" />
				<h:panelGroup>
					<p:inputText id="other_program" label="Ohter SCI Program Name" required="true"
						maxlength="50" styleClass="width-30"
						value="#{settingActivityAction.activity.interventionProgram}">
						<f:validateLength maximum="70" />
					</p:inputText>
					<p:message for="other_program" />
				</h:panelGroup>
				
			<p:outputLabel value="#{label['target']}"
					styleClass="required" />
				<h:panelGroup>
					<p:inputText id="target" label="Target" required="true"
						maxlength="50" styleClass="width-30" type="integer"
						value="#{settingActivityAction.activity.targetpoint}">
						<f:validateLength maximum="70" />
					</p:inputText>
					<p:message for="target" />
				</h:panelGroup>
				
				<p:outputLabel value="#{label['reach']}"
					styleClass="required" />
				<h:panelGroup>
					<p:inputText id="reach" label="Reach" required="true"
						maxlength="50" styleClass="width-30"
						value="#{settingActivityAction.activity.reachpoint}">
						<f:validateLength maximum="70" />
					</p:inputText>
					<p:message for="reach" />
				</h:panelGroup>
				
					<p:outputLabel value="#{label['program_period']}"
					styleClass="required" />
				<h:panelGroup>
					<p:inputText id="program_period" label="Program Period" required="true"
						maxlength="50" styleClass="width-30"
						value="#{settingActivityAction.activity.programPeriod}">
						<f:validateLength maximum="70" />
					</p:inputText>
					<p:message for="program_period" />
				</h:panelGroup>
															
			</p:panelGrid>
				<p:commandButton id="register"
						value="#{label['user_button']}"
						update=":settingRegistrationForm"
						process="settingRegistrationForm"
						styleClass="btn"
						action="#{settingActivityAction.register}" ajax="false" />
					<p:spacer width="5"></p:spacer>
					<p:commandButton id="reset"
						value="#{label['user_Reset']}"
						action="#{settingActivityAction.init}" 
						styleClass="btn"
						update=":settingRegistrationForm" immediate="true" ajax="false">
						<p:resetInput target="@form" />
					</p:commandButton>	
					<p:spacer width="5"></p:spacer>
						<p:commandButton id="addTemplate" value="Add Template Data" styleClass="btn" 
						update=":settingRegistrationForm" rendered="#{settingActivityAction.finishSave}"
						process="settingRegistrationForm" immediate="true"
						actionListener="#{settingActivityAction.appearTemplatePopup}" >
					</p:commandButton>
			<br></br>
		</h:form>
	</ui:define>
</ui:composition>
