<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/common/standardLayout.xhtml">
	<ui:define name="content">
		<h:form id="settingGoalSearchForm">
			<h1 style="color:#006ECC; padding-left:3px">
				<h:outputText value="#{label['setting_activity_search']}"  />
			</h1>
			<p:panelGrid columns="4"
				columnClasses="width-15, width-35, width-15, width-35" layout="grid">
				
				<p:outputLabel value="Township Code"/>
				<p:inputText id="township_code" value="#{settingActivitySearchAction.activitySearchData.townshipCode}"
					maxlength="10" styleClass="width-90" />
					
					<p:outputLabel value="Township Name"/>
				<p:inputText id="township_name" value="#{settingActivitySearchAction.activitySearchData.townshipName}"
					maxlength="10" styleClass="width-90" />
					
					<p:outputLabel value="Village Code"/>
				<p:inputText id="village_code" value="#{settingActivitySearchAction.activitySearchData.villageCode}"
					maxlength="10" styleClass="width-90" />
					
					<p:outputLabel value="Village Name"/>
				<p:inputText id="village_name" value="#{settingActivitySearchAction.activitySearchData.villageName}"
					maxlength="10" styleClass="width-90" />
				
				<p:outputLabel value="#{label['setting_code']}"/>
				<p:inputText id="userId" value="#{settingActivitySearchAction.activitySearchData.code}"
					maxlength="10" styleClass="width-90" />

				
						<p:outputLabel value="Impact"
									 />
								<h:panelGroup>
									<p:selectOneMenu id="impact" label="Impact"  styleClass="width:120px;"
										value="#{settingActivitySearchAction.activitySearchData.impactkey}">
										<f:selectItem itemLabel="Select Impact" itemValue="" />
										<f:selectItems value="#{settingActivitySearchAction.impactList}"
											var="impact" itemLabel="#{impact.t1}"
											itemValue="#{impact.id}" />
									</p:selectOneMenu>
									<p:message for="impact" />
								</h:panelGroup>	
					
									<p:outputLabel value="Outcome"
									 />
								<h:panelGroup>
									<p:selectOneMenu id="outcome" label="Outcome"  styleClass="width:120px;"
										value="#{settingActivitySearchAction.activitySearchData.outcomekey}">
										<f:selectItem itemLabel="Select Outcome" itemValue="" />
										<f:selectItems value="#{settingActivitySearchAction.outcomeList}"
											var="outcome" itemLabel="#{outcome.t1}"
											itemValue="#{outcome.id}" />
									</p:selectOneMenu>
									<p:message for="outcome" />
								</h:panelGroup>	
								
									<p:outputLabel value="Output"
									 />
								<h:panelGroup>
									<p:selectOneMenu id="output" label="Output"  styleClass="width:120px;"
										value="#{settingActivitySearchAction.activitySearchData.outputkey}">
										<f:selectItem itemLabel="Select Output" itemValue="" />
										<f:selectItems value="#{settingActivitySearchAction.outputList}"
											var="output" itemLabel="#{output.t1}"
											itemValue="#{output.id}" />
									</p:selectOneMenu>
									<p:message for="output" />
								</h:panelGroup>	
				
			
			
				<h:panelGroup>
					<p:commandButton id="search" ajax="false" value="#{label['user_search_btn']}"
						actionListener="#{settingActivitySearchAction.search('settingGoalSearchForm:settingSearchTable')}"
						update=":settingGoalSearchForm" styleClass="btn" />
					<p:spacer width="5"></p:spacer>
					<p:commandButton id="reset" ajax="false" value="#{label['user_search_reset']}"
						action="#{settingActivitySearchAction.reset('settingGoalSearchForm:settingSearchTable')}"
						update=":settingGoalSearchForm" styleClass="btn" />
				</h:panelGroup>
				

			</p:panelGrid>
			
			<p:messages globalOnly="true" showDetail="true" showSummary="true" closable="true" />
			
			<h2 style="color:#006ECC; padding-left:3px">
				<h:outputText value="Activity List" />
			</h2>
			
			<p:dataTable styleClass="dataTable" id="settingSearchTable" paginator="true"
				paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				lazy="true" rows="10" rowIndexVar="index"
				rowsPerPageTemplate="10,15,20" value="#{settingActivitySearchAction.settingdataModel}"
				var="list" widgetVar="settingSearchTable">
				
				<p:column headerText="Impact Code" styleClass="width-12">
					<h:outputText value="#{list.impactcode}" />
				</p:column>
				
				<p:column headerText="Outcome Code" styleClass="width-12">
					<h:outputText value="#{list.outcomecode}" />
				</p:column>
		
				<p:column headerText="#{label['setting_code']}" styleClass="width-12">
					<h:outputText value="#{list.code}" />
				</p:column>
				
				<p:column headerText="#{label['setting_desc']}" styleClass="width-10">
					<h:outputText value="#{list.desc}"  />
				</p:column>
				
				<p:column headerText="#{label['setting_date']}" styleClass="width-10">
					<h:outputText value="#{list.settingDate}"  />
				</p:column>
				
				<p:column headerText="Template" styleClass="width-10">
					<h:outputText value="#{list.template}"  />
				</p:column>
				
				<p:column headerText="#{label['township_code']}" styleClass="width-10">
					<h:outputText value="#{list.townshipCode}" />
				</p:column>
				
				<p:column headerText="#{label['township_name']}" styleClass="width-10">
					<h:outputText value="#{list.townshipName}"  />
				</p:column>
				
				<p:column headerText="#{label['village_code']}" styleClass="width-10">
					<h:outputText value="#{list.villageCode}" />
				</p:column>
				
				<p:column headerText="#{label['village_name']}" styleClass="width-10">
					<h:outputText value="#{list.villageName}"  />
				</p:column>
				
				<p:column headerText=" " styleClass="width-16 ">
				<p:commandLink styleClass="link" id="detail" value="#{label['user_detail_link']}"
						action="#{settingActivitySearchAction.detail(list.id)}" />
					<p:spacer width="4"></p:spacer>	
					<p:commandLink styleClass="link" id="edit" value="#{label['user_edit_link']}"
						action="#{settingActivitySearchAction.edit(list.id)}" />
					<p:spacer width="4"></p:spacer>
					<p:commandLink id="delete" value="#{label['user_delete_link']}"
						action="#{settingActivitySearchAction.delete(list.id)}" />
						<p:spacer width="4"></p:spacer>
					<p:commandLink id="register_template" value="Insert Template Data"
						action="#{settingActivitySearchAction.registerTemplateData(list.id,list.templateKey,list.code)}" />
						<p:spacer width="4"></p:spacer>
					<p:commandLink id="template_list" value="List"
						action="#{settingActivitySearchAction.list(list.id,list.templateKey,list.code)}" />
				</p:column>
			</p:dataTable>
		</h:form>
	</ui:define>
</ui:composition>