<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/common/standardLayout.xhtml">
	<ui:define name="content">
<h:form id="settingDetailForm"
			enctype="multipart/form-data">
			<h1 style="color:#006ECC; padding-left:2px;">
				<h:outputText value="Activity Updated Successfully" />
			</h1>
			<p:messages globalOnly="true" showDetail="false" showSummary="true"
				autoUpdate="true" />
			<p:separator></p:separator>
			<p:panelGrid id="basicInformationGrid" columns="2"
				columnClasses="width-30, width-70" layout="grid">
				
				
					<p:outputLabel
					value="#{label['impact_code']}" />
					<h:outputText id="impactCode"
					value="#{activityDetailAction.settingData.impactcode}" />
					
				<p:outputLabel
					value="Outcome Code" />
					<h:outputText id="outcomeCode"
					value="#{activityDeletAction.settingData.outcomecode}" />
					
				<p:outputLabel
					value="Output Code" />
					<h:outputText id="outputcode"
					value="#{activityDeletAction.settingData.outputcode}" />
					
				<p:outputLabel
					value="Template" />
					<h:outputText id="template"
					value="#{activityDeletAction.settingData.template}" />
				
				<p:outputLabel
					value="#{label['setting_code']}" />
				<h:outputText id="settingcode"
					value="#{activityDeletAction.settingData.code}" />

				<p:outputLabel
					value="#{label['setting_desc']}" />
				<h:outputText id="setting_desc"
					value="#{activityDeletAction.settingData.desc}" />

				<p:outputLabel value="#{label['setting_date']}" />
				<h:outputText id="setting_delete"
					value="#{activityDeletAction.settingData.settingDate}" />
					
				<p:outputLabel
					value="#{label['setting_date']}" />
				<h:outputText id="date"
					value="#{activityDetailAction.settingData.settingDate}" />
					
				<p:outputLabel
					value="#{label['township_code']}" />
				<h:outputText id="townshipcode"
					value="#{activityDetailAction.settingData.townshipCode}" />

				<p:outputLabel
					value="#{label['township_name']}" />
				<h:outputText id="townshipname"
					value="#{activityDetailAction.settingData.townshipName}" />
				
				<p:outputLabel
					value="#{label['village_code']}" />
				<h:outputText id="villagecode"
					value="#{activityDetailAction.settingData.villageCode}" />

				<p:outputLabel
					value="#{label['village_name']}" />
				<h:outputText id="villagename"
					value="#{activityDetailAction.settingData.villageName}" />
				
				<p:outputLabel
					value="#{label['other_program']}" />
				<h:outputText id="sciprogram"
					value="#{activityDetailAction.settingData.interventionProgram}" />	
				
				<p:outputLabel
					value="#{label['target']}" />
				<h:outputText id="target"
					value="#{activityDetailAction.settingData.targetpoint}" />

				<p:outputLabel
					value="#{label['reach']}" />
				<h:outputText id="reach"
					value="#{activityDetailAction.settingData.reachpoint}" />
				
					
					<p:outputLabel
					value="#{label['program_period']}" />
				<h:outputText id="programPeriod"
					value="#{activityDetailAction.settingData.programPeriod}" />
		
			</p:panelGrid>
			<h:panelGroup>
					<p:commandButton id="delete"
						value="Delete"
						update=":settingDeleteForm"
						process="settingDeleteForm"
						styleClass="btn"
						action="#{activityDeletAction.delete}" ajax="false" />
					<p:spacer width="2"></p:spacer>

					<p:commandButton id="backBtn"
						value="Back"
						styleClass="btn"
						immediate="true"
						action="activitySearch">
					</p:commandButton>
					<c:set target="#{flash}" property="impactid" value="#{activityDeletAction.impactID}" />
				</h:panelGroup>	
		</h:form>
	</ui:define>
</ui:composition>
