<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<div align="center" >

			<h:panelGrid columns="3" cellpadding="10" cellspacing="5" style="margin-top:20px">
	 	<p:row>
	 	<p:column colspan="3">
	 	<img width="25px" height="20px" src="#{request.contextPath}/images/stc.png" />
	 	</p:column>
	 	<p:column>
            <font size="10px">Save The Children</font>
            </p:column>
          </p:row>
	 	
	 	</h:panelGrid>
	</div>
</ui:composition>