<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
	<h:form>
	
		<div id="page-header">
		
			<div id="header-logo" class="logo-bg">
			<p:outputLabel value="#{loginAction.user.userId}" class="userid" />
			</div>
			<p:idleMonitor timeout="1000000">
        			<p:ajax event="idle" listener="#{idleMonitoringView.onIdle}" />  
    			</p:idleMonitor>
			<div>
				<div >
				
				<h:outputText styleClass="headertitle" value="Save The Children(Education)"></h:outputText>
				
				<h:commandLink action="#{loginAction.logout}">
				<img class="logouticon" width="55px" height="40px" src="#{request.contextPath}/images/sign_out.png" />
				</h:commandLink>
				</div>
				
			</div>
			
		</div>
	</h:form>
</ui:composition>