<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui">

	<h:form>
		<div class="leftpanel">
			<ul class="nav nav-pills nav-stacked">
				<li>
					<a class="parent"> 
						<IMG alt="" src="#{request.contextPath}/images/user.png" width="20px" height="18px" />
						<span>
							<h:outputText value="#{label['user_parent_menu']}" />
						</span>
					</a>
				</li>
				<li>
					<p:commandLink immediate="true" class="child" action="userRegister">
						<IMG alt="" src="#{request.contextPath}/images/register.png" width="20px" height="18px" />
						<span><h:outputText value="#{label['user_register_menu']}" /> </span>
					</p:commandLink>
				</li>
				<li>
					<p:commandLink immediate="true" class="child"  action="userSearch">
						<IMG alt="" src="#{request.contextPath}/images/search.png" width="20px" height="18px" />
						<span><h:outputText value="#{label['user_search_menu']}" /> </span>
					</p:commandLink>
				</li>
				<li>
					<a class="parent">
						<IMG alt="" src="#{request.contextPath}/images/setup.png" width="20px" height="18px" />
						<span>
							<h:outputText value="Setup" />
						</span>
					</a>
				</li>
				<li>
					<p:commandLink immediate="true" class="child"  action="impact">
						<span><h:outputText value="#{label['setting_goal_title']}" /> </span>
					</p:commandLink>
				</li>
				
				<li>
					<p:commandLink immediate="true" class="child"  action="goalSearch">
						<span><h:outputText value="#{label['setting_goal_search']}" /> </span>
					</p:commandLink>
				</li>
				
				<li>
					<p:commandLink immediate="true" class="child"  action="settingOutcomeRegister">
						<span><h:outputText value="#{label['setting_outcome_title']}" /> </span>
					</p:commandLink>
				</li>
				
				<li>
					<p:commandLink immediate="true" class="child"  action="settingOutcomeSearch">
						<span><h:outputText value="#{label['setting_outcome_search']}" /> </span>
					</p:commandLink>
				</li>
				
				<li>
					<p:commandLink immediate="true" class="child"  action="outputsSetting">
						<span><h:outputText value="#{label['setting_output_title']}" /> </span>
					</p:commandLink>
				</li>
				
				<li>
					<p:commandLink immediate="true" class="child"  action="outputSearch">
						<span><h:outputText value="#{label['setting_output_search']}" /> </span>
					</p:commandLink>
				</li>
				<li>
					<a class="parent"> 
					
						<span>
							<h:outputText value="Activity" />
						</span>
					</a>
				</li>
				<li>
					<p:commandLink immediate="true" class="child"  action="settingActivity">
						<span><h:outputText value="#{label['setting_activity_title']}" /> </span>
					</p:commandLink>
				</li>
				
				<li>
					<p:commandLink immediate="true" class="child"  action="activitySearch">
						<span><h:outputText value="#{label['setting_activity_search']}" /> </span>
					</p:commandLink>
				</li>
				
				<li>
					<a class="parent"> 					
						<span>
							<h:outputText value="Report" />
						</span>
					</a>
				</li>
				
				<li>
				
				<p:commandLink immediate="true" class="child"  action="activitySearch">
						<span><h:outputText value="Project Report" /> </span>
					</p:commandLink>
				</li>
				
			</ul>
		</div>
		<!-- leftpanel -->
	</h:form>
</ui:composition>
