<!DOCTYPE f:view PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<h:head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
		
		<title>Add Template Data</title>
		<link
			href="#{request.contextPath}/css/fontawesome/css/font-awesome.css"
			rel="stylesheet" />
		<link href="#{request.contextPath}/css/animate.min.css"
			rel="stylesheet" />
		<link href="#{request.contextPath}/css/animate.delay.css"
			rel="stylesheet" />
		<link href="#{request.contextPath}/css/style.css" rel="stylesheet" />
		<h:outputScript library="primefaces" name="js/jquery.min.js"
			target="head" />
		<h:outputScript library="primefaces" name="js/jquery-ui.min.js"
			target="head" />

	</h:head>
	<h:body>
		
		
		<div id="statusIndicator">
			<p:ajaxStatus style="width:16px;height:16px;">
				<f:facet name="start">
					<h:outputText value="Loading..." />
					<h:graphicImage value="/images/loading.gif" />
				</f:facet>
				<f:facet name="complete">
					<h:outputText value="" />
				</f:facet>
			</p:ajaxStatus>
		</div>
		<p:scrollPanel style="width:800px;height:650px">
	
		<div  style="min-height: 500px;">
			 <ui:insert name="content" /> 
	
		</div>
		</p:scrollPanel>

	</h:body>
</f:view>
