<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/common/standardLayout.xhtml">
	<ui:define name="content">
		<h:form id="templateOneDataRegistrationForm" >
			<h1  style="color:#006ECC; padding-left:10px;">
				<h:outputText  value="#{templateTwoRegistrationAction.title}" />
			</h1>
			<p:messages globalOnly="true" showDetail="true" showSummary="true" closable="true" />
			<p:separator styleClass="color:#006ECC"></p:separator>
			<br></br>
			<p:panelGrid id="basicInformationGrid" columns="2"
				columnClasses="width-20, width-80" layout="grid">
				
						<p:outputLabel value="Code"
									 styleClass="required" />
								<h:panelGroup>
									<p:inputText id="code" label="Code" required="true"
						maxlength="50" styleClass="width-30"
						value="#{templateTwoRegistrationAction.templateTwoData.code}">
						<f:validateLength maximum="50" />
					</p:inputText>
									<p:message for="code" />
								</h:panelGroup>	

				<p:outputLabel value="Description"
					styleClass="required" />
				<h:panelGroup>
					<p:inputText id="desc" label="Description" required="true"
						maxlength="500" styleClass="width-30"
						value="#{templateTwoRegistrationAction.templateTwoData.desc}">
						<f:validateLength maximum="500" />
					</p:inputText>
					<p:message for="desc" />
				</h:panelGroup>
				
					<p:outputLabel value="Date" styleClass="required"/>
				 <h:panelGroup>
					<p:calendar style="dateBox" id="templateTwoDatadate" pattern="dd/MM/yyyy" required="true"
						label="Date" navigator="true" styleClass="date-width-20"
						value="#{templateTwoRegistrationAction.templateTwoData.settingDate}">
					</p:calendar>
					<p:message for="templateTwoDatadate" />
				</h:panelGroup>												
			</p:panelGrid>
			
	
			<p:panel id="basicInformationGrid1" >
			
			<h3 style="color:#006ECC">
				<h:outputText  value="# of OSC in Community" />
			</h3>
			
			<h:panelGrid columns="2" columnClasses="width-8, width-30">			
			<p:outputLabel styleClass="width-50"  value="Boys"/>				
				<h:panelGroup>
					<p:inputText id="communityBoy" label="Boys" maxlength="50"
						styleClass="width-30"
						value="#{templateTwoRegistrationAction.templateTwoData.oscCommunityBoy}">
						<f:convertNumber integerOnly="true"/>
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="communityBoy" />
				</h:panelGroup>
				
				<p:outputLabel styleClass="width-50"  value="Girls"/>				
				<h:panelGroup>
					<p:inputText id="communityGirls" label="Girls" maxlength="50"
						styleClass="width-30"
						value="#{templateTwoRegistrationAction.templateTwoData.oscCommunityGirl}">
						<f:convertNumber integerOnly="true"/>
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="communityGirls" />
				</h:panelGroup>		
				
				<p:outputLabel styleClass="width-50"  value="Data Source"/>				
				<h:panelGroup>
					<p:inputText id="communityDatasource" label="Data Source" maxlength="200"
						styleClass="width-30"
						value="#{templateTwoRegistrationAction.templateTwoData.oscCommunityDataSource}">
						
						<f:validateLength maximum="200" />
					</p:inputText>
					<p:message for="communityDatasource" />
				</h:panelGroup>
				
						
			</h:panelGrid>	
			
			
			<h3 style="color:#006ECC">
				<h:outputText  value="# of OSC enrolled in school through CMSS" />
			</h3>
			
			<h:panelGrid columns="2" columnClasses="width-8, width-30">			
			<p:outputLabel styleClass="width-50"  value="Boys"/>				
				<h:panelGroup>
					<p:inputText id="cmssBoy" label="Boys" maxlength="50"
						styleClass="width-30"
						value="#{templateTwoRegistrationAction.templateTwoData.oscEnrollCmssBoy}">
						<f:convertNumber integerOnly="true"/>
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="cmssBoy" />
				</h:panelGroup>
				
				<p:outputLabel styleClass="width-50"  value="Girls"/>				
				<h:panelGroup>
					<p:inputText id="cmssGirl" label="Girls" maxlength="50"
						styleClass="width-30"
						value="#{templateTwoRegistrationAction.templateTwoData.oscEnrollCmssGirl}">
						<f:convertNumber integerOnly="true"/>
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="cmssGirl" />
				</h:panelGroup>	
				
				<p:outputLabel styleClass="width-50"  value="Data Source"/>				
				<h:panelGroup>
					<p:inputText id="cmssDatasource" label="Data Source" maxlength="200"
						styleClass="width-30"
						value="#{templateTwoRegistrationAction.templateTwoData.oscEnrollCmssDatasource}">
						
						<f:validateLength maximum="200" />
					</p:inputText>
					<p:message for="cmssDatasource" />
				</h:panelGroup>
				
							
			</h:panelGrid>		
			
							
		</p:panel>
			
				<p:commandButton id="register"
						value="#{label['user_button']}"
						update=":outcomeRegistrationForm"
						process="outcomeRegistrationForm"
						styleClass="btn"
						action="#{templateTwoRegistrationAction.register}" ajax="false" />
					<p:spacer width="5"></p:spacer>
					<p:commandButton id="reset"
						value="#{label['user_Reset']}"
						action="#{templateTwoRegistrationAction.init}" 
						styleClass="btn"
						update=":outcomeRegistrationForm" immediate="true" ajax="false">
						<p:resetInput target="@form" />
					</p:commandButton>	
					
					<p:commandButton id="back"
						value="Back"
						action="#{templateTwoRegistrationAction.back}" 
						immediate="true"
						styleClass="btn">
						
					</p:commandButton>	
			<br></br>
		</h:form>
	</ui:define>
</ui:composition>
