<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/common/standardLayout.xhtml">
	<ui:define name="content">
		<h:form id="templateTwoDataRegistrationForm" >
			<h1  style="color:#006ECC; padding-left:10px;">
				<h:outputText  value="#{templateTwoDeleteAction.title}" />
			</h1>
			<p:messages globalOnly="true" showDetail="true" showSummary="true" closable="true" />
			<p:separator styleClass="color:#006ECC"></p:separator>
			<br></br>
			<p:panelGrid id="basicInformationGrid" columns="2"
				columnClasses="width-20, width-80" layout="grid">
				
						<p:outputLabel value="Code" />

				<h:outputText id="code" value="Description" />

				<p:outputLabel value="Description" />
				
					<h:outputText id="desc"
						value="#{templateTwoDeleteAction.templateTwoData.desc}" />
					
					
					<p:outputLabel value="Date" />
				
					<h:outputText id="desc"
						value="#{templateTwoDeleteAction.templateTwoData.settingDateInDateFormat}" />
				
			
													
			</p:panelGrid>
			
	
			<p:panel id="basicInformationGrid1" >
			
			<h3 style="color:#006ECC">
				<h:outputText  value="# of OSC in community" />
			</h3>
			
			<h:panelGrid columns="2" columnClasses="width-8, width-30">			
			<p:outputLabel styleClass="width-50"  value="Boys"/>				
				<h:outputText id="communityBoys"
						value="#{templateTwoDeleteAction.templateTwoData.oscCommunityBoy}" />
				
				<p:outputLabel styleClass="width-50"  value="Girls"/>				
				<h:outputText id="communityGirls"
						value="#{templateTwoDeleteAction.templateTwoData.oscCommunityGirl}" />
						
				<p:outputLabel styleClass="width-50"  value="Data Source"/>				
				<h:outputText id="communityDatasource"
						value="#{templateTwoDeleteAction.templateTwoData.oscCommunityDataSource}" />
				
			</h:panelGrid>
			
			<h3 style="color:#006ECC">
				<h:outputText  value="# of OSC enrolled in school through CMSS" />
			</h3>
			
			<h:panelGrid columns="2" columnClasses="width-8, width-30">			
			<p:outputLabel styleClass="width-50"  value="Boys"/>				
				<h:outputText id="comssBoys"
						value="#{templateTwoDeleteAction.templateTwoData.oscEnrollCmssBoy}" />
				
				<p:outputLabel styleClass="width-50"  value="Girls"/>				
				<h:outputText id="cmssGirls"
						value="#{templateTwoDeleteAction.templateTwoData.oscEnrollCmssGirl}" />
						
						
				<p:outputLabel styleClass="width-50"  value="Data Source"/>				
				<h:outputText id="cmssDatasource"
						value="#{templateTwoDeleteAction.templateTwoData.oscEnrollCmssDatasource}" />
			</h:panelGrid>
			
			
	</p:panel>
			
			<p:commandButton id="delete"
						value="Delete"
						action="#{templateTwoDeleteAction.delete}" 
						styleClass="btn">
					</p:commandButton>	
			
					<p:commandButton id="back"
						value="Back"
						action="#{templateTwoDeleteAction.back}" 
						styleClass="btn">
					</p:commandButton>	
					
						
			<br></br>
		</h:form>
	</ui:define>
</ui:composition>
