<!DOCTYPE f:view PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<h:head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
		<title>Anti-Criminal</title>
		<link rel="shortcut icon" href="#{request.contextPath}/images/fav.ico" type="image/x-icon"></link>
		<link href="#{request.contextPath}/css/style.css" rel="stylesheet" />
		
	</h:head>
	<h:body>
		<div id="header">
			<ui:include src="/common/header.xhtml" />
		</div>
		<div id="errorContent">
			<ui:insert name="content" />
		</div>
		<div id="errorFooter">
			<ui:include src="/common/footer.xhtml" />
		</div>

	</h:body>
</f:view>