<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/common/standardLayout.xhtml">
	<ui:define name="content">
		<h:form id="settingGoalSearchForm">
			<h1 style="color:#006ECC; padding-left:10px">
				<h:outputText value="#{templateSixSearchAction.title} List"  />
			</h1>
			<p:panelGrid columns="4"
				columnClasses="width-15, width-35, width-15, width-35" layout="grid">
				
				<p:outputLabel value="#{label['setting_code']}"/>
				<p:inputText id="userId" value="#{templateSixSearchAction.templateSearchData.code}"
					maxlength="10" styleClass="width-90" />
					
				
			
				<h:panelGroup>
					<p:commandButton id="search" ajax="false" value="#{label['user_search_btn']}"
						actionListener="#{templateSixSearchAction.search('settingGoalSearchForm:settingSearchTable')}"
						update=":settingGoalSearchForm" styleClass="btn" />
					<p:spacer width="5"></p:spacer>
					<p:commandButton id="reset" ajax="false" value="#{label['user_search_reset']}"
						action="#{templateSixSearchAction.reset('settingGoalSearchForm:settingSearchTable')}"
						update=":settingGoalSearchForm" styleClass="btn" />
				</h:panelGroup>

			</p:panelGrid>
			
			<p:messages globalOnly="true" showDetail="true" showSummary="true" closable="true" />
			
			<h2 style="color:#006ECC; padding-left:10px">
				<h:outputText value="Template Six Data List" />
			</h2>
			
			<p:dataTable styleClass="dataTable" id="settingSearchTable" paginator="true"
				paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				lazy="true" rows="10" rowIndexVar="index"
				rowsPerPageTemplate="10,15,20" value="#{templateSixSearchAction.settingdataModel}"
				var="list" widgetVar="settingSearchTable">
		
				<p:column headerText="#{label['setting_code']}" styleClass="width-12">
					<h:outputText value="#{list.code}" />
				</p:column>
				
				<p:column headerText="#{label['setting_desc']}" styleClass="width-10">
					<h:outputText value="#{list.desc}"  />
				</p:column>
				
				<p:column headerText="#{label['setting_date']}" styleClass="width-10">
					<h:outputText value="#{list.settingDateInDateFormat}"  />
				</p:column>
				
				<p:column headerText="Place" styleClass="width-10">
					<h:outputText value="#{list.place}"  />
				</p:column>
				
				<p:column headerText="To Whom" styleClass="width-10">
					<h:outputText value="#{list.toWhom}"  />
				</p:column>
				
				<p:column headerText="With Whom" styleClass="width-10">
					<h:outputText value="#{list.withWhom}"  />
				</p:column>
				
				<p:column headerText=" " styleClass="width-20 ">
				<p:commandLink styleClass="link" id="detail" value="#{label['user_detail_link']}"
						action="#{templateSixSearchAction.detail(list.id)}" />
					<p:spacer width="15"></p:spacer>	
					<p:commandLink styleClass="link" id="edit" value="#{label['user_edit_link']}"
						action="#{templateSixSearchAction.edit(list.id,list.code)}" />
					<p:spacer width="15"></p:spacer>
					<p:commandLink id="delete" value="#{label['user_delete_link']}"
						action="#{templateSixSearchAction.delete(list.id)}" />
						<p:spacer width="15"></p:spacer>

				</p:column>
			</p:dataTable>
		</h:form>
	</ui:define>
</ui:composition>