<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/common/standardLayout.xhtml">
	<ui:define name="content">
		<h:form id="templateSixDataRegistrationForm" >
			<h1  style="color:#006ECC; padding-left:10px;">
				<h:outputText  value="#{templateSixDeleteAction.title}" />
			</h1>
			<p:messages globalOnly="true" showDetail="true" showSummary="true" closable="true" />
			<p:separator styleClass="color:#006ECC"></p:separator>
			<br></br>
			<p:panelGrid id="basicInformationGrid" columns="2"
				columnClasses="width-20, width-80" layout="grid">
				
						<p:outputLabel value="Code" />

				<h:outputText id="code" value="Description" />

				<p:outputLabel value="Description" />
				
					<h:outputText id="desc"
						value="#{templateSixDeleteAction.templateSixData.desc}" />
					
					
				
				
				<p:outputLabel value="Place" />				
				<h:outputText id="place"
						value="#{templatSixDetailAction.templateSixData.place}" />
				
				<p:outputLabel value="To Whom" />				
				<h:outputText id="toWhom"
						value="#{templatSixDetailAction.templateSixData.toWhom}" />
				
				<p:outputLabel value="With Whom" />				
				<h:outputText id="withWhom"
						value="#{templatSixDetailAction.templateSixData.withWhom}" />
													
			</p:panelGrid>
			
	
			<p:panel id="basicInformationGrid1" >
			
			<h3 style="color:#006ECC">
				<h:outputText  value="Participants(Adults)" />
			</h3>
			
			<h:panelGrid columns="2" columnClasses="width-8, width-30">			
			<p:outputLabel styleClass="width-50"  value="Male"/>				
				<h:outputText id="pMale"
						value="#{templatSixDetailAction.templateSixData.participantMale}" />
				
				<p:outputLabel styleClass="width-50"  value="Female"/>				
				<h:outputText id="pFemale"
						value="#{templatSixDetailAction.templateSixData.participantFemale}" />
						
				<p:outputLabel styleClass="width-50"  value="Total"/>				
				<h:outputText id="tParticipants"
						value="#{templatSixDetailAction.templateSixData.tParticipants}" />
			</h:panelGrid>
	</p:panel>
			
			<p:commandButton id="delete"
						value="Delete"
						action="#{templateSixDeleteAction.delete}" 
						styleClass="btn">
					</p:commandButton>	
			
					<p:commandButton id="back"
						value="Back"
						action="#{templateSixDeleteAction.back}" 
						styleClass="btn">
					</p:commandButton>	
					
						
			<br></br>
		</h:form>
	</ui:define>
</ui:composition>
