<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/common/standardLayout.xhtml">
	<ui:define name="content">
		<h:form id="templateOneDataRegistrationForm" >
			<h1  style="color:#006ECC; padding-left:10px;">
				<h:outputText  value="#{templateSixRegistrationAction.title}" />
			</h1>
			<p:messages globalOnly="true" showDetail="true" showSummary="true" closable="true" />
			<p:separator styleClass="color:#006ECC"></p:separator>
			<br></br>
			<p:panelGrid id="basicInformationGrid" columns="2"
				columnClasses="width-20, width-80" layout="grid">
				
						<p:outputLabel value="Code"
									 styleClass="required" />
								<h:panelGroup>
									<p:inputText id="code" label="Code" required="true"
						maxlength="50" styleClass="width-30"
						value="#{templateSixRegistrationAction.templateSixData.code}">
						<f:validateLength maximum="50" />
					</p:inputText>
									<p:message for="code" />
								</h:panelGroup>	

				<p:outputLabel value="Description"
					styleClass="required" />
				<h:panelGroup>
					<p:inputText id="desc" label="Description" required="true"
						maxlength="500" styleClass="width-30"
						value="#{templateSixRegistrationAction.templateSixData.desc}">
						<f:validateLength maximum="500" />
					</p:inputText>
					<p:message for="desc" />
				</h:panelGroup>
				
					<p:outputLabel value="Date" styleClass="required"/>
				 <h:panelGroup>
					<p:calendar style="dateBox" id="templateSixDatadate" pattern="dd/MM/yyyy" required="true"
						label="Date" navigator="true" styleClass="date-width-20"
						value="#{templateSixRegistrationAction.templateSixData.settingDate}">
					</p:calendar>
					<p:message for="templateSixDatadate" />
				</h:panelGroup>
				
				<p:outputLabel value="Place"
					styleClass="required" />
				<h:panelGroup>
					<p:inputText id="place" label="Place" required="true"
						maxlength="300" styleClass="width-30"
						value="#{templateSixRegistrationAction.templateSixData.place}">
						<f:validateLength maximum="300" />
					</p:inputText>
					<p:message for="place" />
				</h:panelGroup>
				 
				<p:outputLabel value="To Whom"
					styleClass="required" />
				<h:panelGroup>
					<p:inputText id="toWhom" label="Place" required="true"
						maxlength="200" styleClass="width-30"
						value="#{templateSixRegistrationAction.templateSixData.toWhom}">
						<f:validateLength maximum="200" />
					</p:inputText>
					<p:message for="toWhom" />
				</h:panelGroup>
				
				<p:outputLabel value="With Whom"
					styleClass="required" />
				<h:panelGroup>
					<p:inputText id="withWhom" label="Place" required="true"
						maxlength="200" styleClass="width-30"
						value="#{templateSixRegistrationAction.templateSixData.withWhom}">
						<f:validateLength maximum="200" />
					</p:inputText>
					<p:message for="withWhom" />
				</h:panelGroup>
			
													
			</p:panelGrid>
			
	
			<p:panel id="basicInformationGrid1" >
			
			<h3 style="color:#006ECC">
				<h:outputText  value="Participants(Adults)" />
			</h3>
			
			<h:panelGrid columns="2" columnClasses="width-8, width-30">			
			<p:outputLabel styleClass="width-50"  value="Male"/>				
				<h:panelGroup>
					<p:inputText id="pMale" label="Male" maxlength="50"
						styleClass="width-30"
						value="#{templateSixRegistrationAction.templateSixData.participantMale}">
						<f:convertNumber integerOnly="true"/>
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="pMale" />
				</h:panelGroup>
				
				<p:outputLabel styleClass="width-50"  value="Female"/>				
				<h:panelGroup>
					<p:inputText id="pFemale" label="Female" maxlength="50"
						styleClass="width-30"
						value="#{templateSixRegistrationAction.templateSixData.participantFemale}">
						<f:convertNumber integerOnly="true"/>
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="pFemale" />
				</h:panelGroup>				
			</h:panelGrid>					
		</p:panel>
			
				<p:commandButton id="register"
						value="#{label['user_button']}"
						update=":outcomeRegistrationForm"
						process="outcomeRegistrationForm"
						styleClass="btn"
						action="#{templateSixRegistrationAction.register}" ajax="false" />
					<p:spacer width="5"></p:spacer>
					<p:commandButton id="reset"
						value="#{label['user_Reset']}"
						action="#{templateSixRegistrationAction.init}" 
						styleClass="btn"
						update=":outcomeRegistrationForm" immediate="true" ajax="false">
						<p:resetInput target="@form" />
					</p:commandButton>	
					
					<p:commandButton id="back"
						value="Back"
						action="#{templateSixRegistrationAction.back}" 
						immediate="true"
						styleClass="btn">
						
					</p:commandButton>	
			<br></br>
		</h:form>
	</ui:define>
</ui:composition>
