<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
		template="/common/standardLayout.xhtml">
	<ui:define name="content">
		<h:form id="passwordChangeCompleteForm">
			
			<h1 style="color:#006ECC">
				<h:outputText value="#{label['pwd_change_success']}" />
			</h1>
			<p:messages globalOnly="true" showDetail="false" showSummary="true" />


			<p:panelGrid id="passwordChangeCompleteGrid" columns="2"
				columnClasses="width-20, width-80" layout="grid">
				<p:outputLabel value="#{label['pwd_userId']}"
					styleClass="required" />
				<p:outputLabel id="userId"
					value="#{userPwdChangeAction.pwdData.userid}" />
			</p:panelGrid>

		</h:form>
	</ui:define>
</ui:composition>
