<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/common/standardLayout.xhtml">
	<ui:define name="content">
		<h:form id="passwordChangeForm">
			<h1 style="color:#006ECC">
				<h:outputText value="#{label['pwd_change_title']}" />
			</h1>
			<p:messages globalOnly="true" showDetail="true" showSummary="true" />

			<p:panelGrid id="passwordChangeGrid" columns="2"
				columnClasses="width-20, width-80" layout="grid">
				<p:outputLabel value="#{label['pwd_userId']}" />
				<p:outputLabel id="userId"
					value="#{userPwdChangeAction.userId}" />

				<p:outputLabel value="#{label['pwd_current_pwd']}"
					styleClass="required" />
				<h:panelGroup>
					<p:password id="currentPassword" label="Current Password"
						redisplay="true"
						value="#{userPwdChangeAction.pwdData.currentpwd}"
						validatorMessage="#{label['validator.buildingId.fixLength']}"
						required="true" maxlength="50" styleClass="width-30">
						<f:validateLength maximum="50" />
					</p:password>
					<p:message id="currentPasswordMsg" for="currentPassword" />
				</h:panelGroup>

				<p:outputLabel value="#{label['pwd_new_pwd']}"
					styleClass="required" />
				<h:panelGroup>
					<p:password id="newPassword" label="New Password" redisplay="true"
						value="#{userPwdChangeAction.pwdData.newpwd}"
						validatorMessage="New Password's length is invalid!"
						required="true" maxlength="50" styleClass="width-30">
						<f:validateLength minimum="4" maximum="50" />
						
					</p:password>
					<p:message id="newPasswordMsg" for="newPassword" />
				</h:panelGroup>

				<p:outputLabel value="#{label['pwd_comfirm_pwd']}"
					styleClass="required" />
				<h:panelGroup>
					<p:password id="confirmPassword" label="Confirm Password"
						redisplay="true"
						value="#{userPwdChangeAction.pwdData.confirmpwd}"
						validatorMessage="Comfirm Password's length is invalid!"
						required="true" maxlength="50" styleClass="width-30">
						<f:validateLength minimum="4" maximum="50" />
						
					</p:password>
					<p:message id="confirmPasswordMsg" for="confirmPassword" />
				</h:panelGroup>

				<p:outputLabel />
				<h:panelGroup>
					<p:commandButton id="updateBtn"
						value="Update"
						action="#{userPwdChangeAction.updatePassword()}"
						styleClass="btn"
						update=":passwordChangeForm" />
					<p:spacer width="3"></p:spacer>
					<p:commandButton id="resetBtn"
						actionListener="#{userPwdChangeAction.init()}"
						update=":passwordChangeForm"
						styleClass="btn"
						value="Reset" immediate="true">
						<p:resetInput target="@form" />
					</p:commandButton>
					<p:spacer width="3"></p:spacer>
					<p:commandButton id="backBtn"
						value="Back"
						styleClass="btn"
						immediate="true"
						action="userSearch">
					</p:commandButton>
					<c:set target="#{flash}" property="userId" value="#{userPwdChangeAction.userId}" />
				</h:panelGroup>
			</p:panelGrid>

		</h:form>
	</ui:define>
</ui:composition>
