<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/common/standardLayout.xhtml">
	<ui:define name="content">
		<h:form id="userSearchForm">
			<h1 style="color:#006ECC ; padding-left:3px">
				<h:outputText value="#{label['user_search_title']}"  />
			</h1>
			<p:panelGrid columns="4"
				columnClasses="width-15, width-35, width-15, width-35" layout="grid">
				
				<p:outputLabel value="#{label['user_search_id']}"/>
				<p:inputText id="userId" value="#{userSearchAction.userSearchData.userid}"
					maxlength="10" styleClass="width-90" />
					
				<p:outputLabel value="#{label['user_role']}" />
				<p:selectOneMenu id="userRole" styleClass="selectBox-width-90"
					value="#{userSearchAction.userSearchData.role}">
					<f:selectItem itemLabel="Select User Role" itemValue="" />
					<f:selectItems value="#{userSearchAction.roleList}"
						var="userRole" itemValue="#{userRole.value}" itemLabel="#{userRole.label}"/>
				</p:selectOneMenu>

				<p:outputLabel value="#{label['user_search_name']}"/>
				<p:inputText id="userName" value="#{userSearchAction.userSearchData.userName}"
					maxlength="75" styleClass="width-90" />
					
				<p:outputLabel value="#{label['user_position']}"/>
				<p:inputText id="position" value="#{userSearchAction.userSearchData.position}"
					maxlength="75" styleClass="width-90" />
					
					<p:outputLabel value="#{label['user_search_address']}"/>
				<p:inputText id="address" value="#{userSearchAction.userSearchData.address}"
					maxlength="75" styleClass="width-90" />
				<p:outputPanel value=""></p:outputPanel>
			
				<h:panelGroup>
					<p:commandButton id="search" ajax="false" value="#{label['user_search_btn']}"
						actionListener="#{userSearchAction.search('userSearchForm:userSearchTable')}"
						update=":userSearchForm" styleClass="btn" />
					<p:spacer width="5"></p:spacer>
					<p:commandButton id="reset" ajax="false" value="#{label['user_search_reset']}"
						action="#{userSearchAction.reset('userSearchForm:userSearchTable')}"
						update=":userSearchForm" styleClass="btn" />
				</h:panelGroup>

			</p:panelGrid>
			
			<p:messages globalOnly="true" showDetail="true" showSummary="true" closable="true" />
			
			<h2 style="color:#006ECC; padding-left:3px">
				<h:outputText value="#{label['user_paginate_lbl']}" />
			</h2>
			
			<p:dataTable styleClass="dataTable" id="userSearchTable" paginator="true"
				paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				lazy="true" rows="10" rowIndexVar="index"
				rowsPerPageTemplate="10,15,20" value="#{userSearchAction.userdataModel}"
				var="list" widgetVar="userSearchTable">
				<p:column headerText="#{label['user_search_id']}" styleClass="width-6">
					<h:outputText value="#{list.userId}" />
				</p:column>
				<p:column headerText="#{label['user_search_name']}" styleClass="width-12">
					<h:outputText value="#{list.userName}" />
				</p:column>
				
				<p:column headerText="#{label['user_role']}" styleClass="width-10">
					<h:outputText value="#{list.rolelbl}" />
				</p:column>
				<p:column headerText="#{label['user_position']}" styleClass="width-10">
					<h:outputText value="#{list.position}" />
				</p:column>
				<p:column headerText="#{label['user_search_address']}" styleClass="width-10">
					<h:outputText value="#{list.address}"  />
				</p:column>
				
				<p:column headerText=" " styleClass="width-16 ">
				<p:commandLink styleClass="link" id="detail" value="#{label['user_detail_link']}"
						action="#{userSearchAction.detail(list.userId)}" />
					<p:spacer width="4"></p:spacer>	
					<p:commandLink styleClass="link" id="edit" value="#{label['user_edit_link']}"
						action="#{userSearchAction.edit(list.userId)}" />
					<p:spacer width="4"></p:spacer>
					<p:commandLink id="delete" value="#{label['user_delete_link']}"
						action="#{userSearchAction.delete(list.userId)}" />
						<p:spacer width="4"></p:spacer>
					<p:commandLink id="pwchange" value="#{label['user_update_pwchange']}"
						action="#{userSearchAction.changePwd(list.userId)}" />
				</p:column>
			</p:dataTable>
		</h:form>
	</ui:define>
</ui:composition>