<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/common/standardLayout.xhtml">
	<ui:define name="content">
		<h:form id="templateThreeDataRegistrationForm" >
			<h1  style="color:#006ECC; padding-left:10px;">
				<h:outputText  value="#{templateThreeUpdateAction.title}" />
			</h1>
			<p:messages globalOnly="true" showDetail="true" showSummary="true" closable="true" />
			<p:separator styleClass="color:#006ECC"></p:separator>
			<br></br>
			<p:panelGrid id="basicInformationGrid" columns="2"
				columnClasses="width-20, width-80" layout="grid">
				
						<p:outputLabel value="Code"
									 styleClass="required" />
								<h:panelGroup>
									<p:inputText id="code" label="Code" required="true"
						maxlength="50" styleClass="width-30"
						value="#{templateThreeUpdateAction.templateThreeData.code}">
						<f:validateLength maximum="100" />
					</p:inputText>
									<p:message for="code" />
								</h:panelGroup>	

				<p:outputLabel value="Description"
					styleClass="required" />
				<h:panelGroup>
					<p:inputText id="desc" label="Description" required="true"
						maxlength="500" styleClass="width-30"
						value="#{templateThreeUpdateAction.templateThreeData.desc}">
						<f:validateLength maximum="500" />
					</p:inputText>
					<p:message for="desc" />
				</h:panelGroup>
				
					<p:outputLabel value="Date" styleClass="required"/>
				 <h:panelGroup>
					<p:calendar style="dateBox" id="templateThreeDatadate" pattern="dd/MM/yyyy" required="true"
						label="Date" navigator="true" styleClass="date-width-20"
						value="#{templateThreeUpdateAction.templateThreeData.settingDate}">
					</p:calendar>
					<p:message for="templateThreeDatadate" />
				</h:panelGroup> 
				
		
													
			</p:panelGrid>
			
	
			<p:panel id="basicInformationGrid1" >
			
			<h2 style="color:#006ECC">
				<h:outputText  value="KG and ECCD Enrolled Children" />
			</h2>
			
			<h3 style="color:#006ECC">
				<h:outputText  value="Enrolled Children" />
			</h3>
			
			<h:panelGrid columns="2" columnClasses="width-8, width-30">			
			<p:outputLabel styleClass="width-50"  value="Boys"/>				
				<h:panelGroup>
					<p:inputText id="enrollMale" label="Boys" maxlength="50"
						styleClass="width-30"
						value="#{templateThreeUpdateAction.templateThreeData.enrollBoys}">
						<f:convertNumber integerOnly="true"/>
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="enrollMale" />
				</h:panelGroup>
				
				<p:outputLabel styleClass="width-50"  value="Girls"/>				
				<h:panelGroup>
					<p:inputText id="enrollGirl" label="Girls" maxlength="50"
						styleClass="width-30"
						value="#{templateThreeUpdateAction.templateThreeData.enrollGirls}">
						<f:convertNumber integerOnly="true"/>
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="enrollGirl" />
				</h:panelGroup>				
			</h:panelGrid>
			
			<h3 style="color:#006ECC">
				<h:outputText  value="Enrolled Children(Poor)" />
			</h3>
			
			<h:panelGrid columns="2" columnClasses="width-8, width-30">
			
			<p:outputLabel styleClass="width-50"  value="Boys"/>				
				<h:panelGroup>
					<p:inputText id="enrollPoorBoy" label="Boys" maxlength="50"
						styleClass="width-30"
						value="#{templateThreeUpdateAction.templateThreeData.enrollPoorBoys}">
						<f:convertNumber integerOnly="true"/>
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="enrollPoorBoy" />
				</h:panelGroup>
				
				<p:outputLabel styleClass="width-50"  value="Girls"/>				
				<h:panelGroup>
					<p:inputText id="enrollPoorGirl" label="Girls" maxlength="50"
						styleClass="width-30"
						value="#{templateThreeUpdateAction.templateThreeData.enrollPoorGirls}">
						<f:convertNumber integerOnly="true"/>
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="enrollPoorGirl" />
				</h:panelGroup>
			</h:panelGrid>
			
			
			<h3 style="color:#006ECC">
				<h:outputText  value="Enrolled Children(Disability)" />
			</h3>
			
			<h:panelGrid columns="2" columnClasses="width-8, width-30">
			
			<p:outputLabel styleClass="width-50"  value="Boys"/>				
				<h:panelGroup>
					<p:inputText id="enrollDisabilityBoy" label="Boys" maxlength="50"
						styleClass="width-30"
						value="#{templateThreeUpdateAction.templateThreeData.enrollDisabiltyBoys}">
						<f:convertNumber integerOnly="true"/>
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="enrollDisabilityBoy" />
				</h:panelGroup>
				
				<p:outputLabel styleClass="width-50"  value="Girls"/>				
				<h:panelGroup>
					<p:inputText id="enrollDisabilityGirl" label="Girls" maxlength="50"
						styleClass="width-30"
						value="#{templateThreeUpdateAction.templateThreeData.enrollDisabilityGirls}">
						<f:convertNumber integerOnly="true"/>
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="enrollDisabilityGirl" />
				</h:panelGroup>
			</h:panelGrid>
			
			<h3 style="color:#006ECC">
				<h:outputText  value="Enrolled Children(Ethnic)" />
			</h3>
			
		<h:panelGrid columns="2" columnClasses="width-8, width-30">
			
			<p:outputLabel styleClass="width-50"  value="Boys"/>				
				<h:panelGroup>
					<p:inputText id="enrollEthnicBoy" label="Boys" maxlength="50"
						styleClass="width-30"
						value="#{templateThreeUpdateAction.templateThreeData.enrollEthnicBoys}">
						<f:convertNumber integerOnly="true"/>
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="enrollEthnicBoy" />
				</h:panelGroup>
				
				<p:outputLabel styleClass="width-50"  value="Girls"/>				
				<h:panelGroup>
					<p:inputText id="enrollEthnicGirl" label="Girls" maxlength="50"
						styleClass="width-30"
						value="#{templateThreeUpdateAction.templateThreeData.enrollEthnicGirls}">
						<f:convertNumber integerOnly="true"/>
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="enrollEthnicGirl" />
				</h:panelGroup>
			</h:panelGrid>
			
			
			</p:panel>
			
				<p:commandButton id="register"
						value="Update"
						update=":outcomeRegistrationForm"
						process="outcomeRegistrationForm"
						styleClass="btn"
						action="#{templateThreeUpdateAction.register}" ajax="false" />
					<p:spacer width="5"></p:spacer>
					<p:commandButton id="reset"
						value="#{label['user_Reset']}"
						action="#{templateThreeUpdateAction.init}" 
						styleClass="btn"
						update=":outcomeRegistrationForm" immediate="true" ajax="false">
						<p:resetInput target="@form" />
					</p:commandButton>
					<p:commandButton id="back"
						value="Back"
						action="#{templateThreeUpdateAction.back}" 
						styleClass="btn">
						
					</p:commandButton>		
			<br></br>
		</h:form>
	</ui:define>
</ui:composition>
