<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/common/standardLayout.xhtml">
	<ui:define name="content">
		<h:form id="templateThreeDataRegistrationForm" >
			<h1  style="color:#006ECC; padding-left:10px;">
				<h:outputText  value="#{templateThreeDeleteAction.title}" />
			</h1>
			<p:messages globalOnly="true" showDetail="true" showSummary="true" closable="true" />
			<p:separator styleClass="color:#006ECC"></p:separator>
			<br></br>
			<p:panelGrid id="basicInformationGrid" columns="2"
				columnClasses="width-20, width-80" layout="grid">
				
						<p:outputLabel value="Code" />

				<h:outputText id="code" value="Description" />

				<p:outputLabel value="Description" />
				
					<h:outputText id="desc"
						value="#{templateThreeDeleteAction.templateThreeData.desc}" />
					
					
				
				
				<p:outputLabel value="Date" />
				
					<h:outputText id="date"
						value="#{templateThreeDeleteAction.templateThreeData.settingDateInDateFormat}" />
				
			</p:panelGrid>
			
	
			<p:panel id="basicInformationGrid1" >
			
			<h2 style="color:#006ECC">
				<h:outputText  value="KG And ECCD Enrolled Children" />
			</h2>
			
			<h3 style="color:#006ECC">
				<h:outputText  value="Enrolled Children" />
			</h3>
			
			<h:panelGrid columns="2" columnClasses="width-8, width-30">			
			<p:outputLabel styleClass="width-50"  value="Boys"/>				
				<h:outputText id="enrollboy"
						value="#{templateThreeDeleteAction.templateThreeData.enrollBoys}" />
				
				<p:outputLabel styleClass="width-50"  value="Girls"/>				
				<h:outputText id="enrollgirl"
						value="#{templateThreeDeleteAction.templateThreeData.enrollGirls}" />
			</h:panelGrid>
			
			<h3 style="color:#006ECC">
				<h:outputText  value="Enrolled Children(Poor)" />
			</h3>
			
			<h:panelGrid columns="2" columnClasses="width-8, width-30">
			
			<p:outputLabel styleClass="width-50"  value="Boys"/>				
				<h:outputText id="enrollPoorBoy"
						value="#{templateThreeDeleteAction.templateThreeData.enrollPoorBoys}" />
				
			<p:outputLabel styleClass="width-50"  value="Girls"/>				
				<h:outputText id="enrollPoorGirl"
						value="#{templateThreeDeleteAction.templateThreeData.enrollPoorGirls}"/>
						
					

			</h:panelGrid>
			
			
			<h3 style="color:#006ECC">
				<h:outputText  value="Enrolled Children(Disability)" />
			</h3>
			
			<h:panelGrid columns="2" columnClasses="width-8, width-30">
			
			<p:outputLabel styleClass="width-50"  value="Boys"/>				
				
					<h:outputText id="enrollDisablityBoy" 	
						value="#{templateThreeDeleteAction.templateThreeData.enrollDisabiltyBoys}"/>
						
				
				<p:outputLabel styleClass="width-50"  value="Female"/>				
				
					<h:outputText id="enrollDisabilityGirl" 
						value="#{templateThreeDeleteAction.templateThreeData.enrollDisabilityGirls}"/>
						
			</h:panelGrid>
			
			<h3 style="color:#006ECC">
				<h:outputText  value="Enrolled Children(Ethnic)" />
			</h3>
			
			<h:panelGrid columns="2" columnClasses="width-8, width-30">
			
			<p:outputLabel styleClass="width-50"  value="Boys"/>				
				
					<h:outputText id="enrollEthnicBoy" 	
						value="#{templateThreeDeleteAction.templateThreeData.enrollEthnicBoys}"/>
						
				
				<p:outputLabel styleClass="width-50"  value="Girls"/>				
				
					<h:outputText id="enrollEthnicGirl" 
						value="#{templateThreeDeleteAction.templateThreeData.enrollEthnicGirls}"/>
						
			</h:panelGrid>
			</p:panel>
			
			<p:commandButton id="delete"
						value="Delete"
						action="#{templateThreeDeleteAction.delete}" 
						styleClass="btn">
					</p:commandButton>	
			
					<p:commandButton id="back"
						value="Back"
						action="#{templateThreeDeleteAction.back}" 
						styleClass="btn">
					</p:commandButton>	
					
						
			<br></br>
		</h:form>
	</ui:define>
</ui:composition>
