<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/common/standardLayout.xhtml">
	<ui:define name="content">
		<h:form id="templateFourDataRegistrationForm" >
			<h1  style="color:#006ECC; padding-left:10px;">
				<h:outputText  value="#{templateFourUpdateAction.title}" />
			</h1>
			<p:messages globalOnly="true" showDetail="true" showSummary="true" closable="true" />
			<p:separator styleClass="color:#006ECC"></p:separator>
			<br></br>
			<p:panelGrid id="basicInformationGrid" columns="2"
				columnClasses="width-20, width-80" layout="grid">
				
						<p:outputLabel value="Code"
									 styleClass="required" />
								<h:panelGroup>
									<p:inputText id="code" label="Code" required="true"
						maxlength="50" styleClass="width-30"
						value="#{templateFourUpdateAction.templateFourData.code}">
						<f:validateLength maximum="50" />
					</p:inputText>
									<p:message for="code" />
								</h:panelGroup>	

				<p:outputLabel value="Description"
					styleClass="required" />
				<h:panelGroup>
					<p:inputText id="desc" label="Description" required="true"
						maxlength="50" styleClass="width-30"
						value="#{templateFourUpdateAction.templateFourData.desc}">
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="desc" />
				</h:panelGroup>
				
					<p:outputLabel value="Date of Distribution" styleClass="required"/>
				 <h:panelGroup>
					<p:calendar style="dateBox" id="templateFourDatadate" pattern="dd/MM/yyyy" required="true"
						label="Date" navigator="true" styleClass="date-width-20"
						value="#{templateFourUpdateAction.templateFourData.settingDate}">
					</p:calendar>
					<p:message for="templateFourDatadate" />
				</h:panelGroup> 
			
													
			</p:panelGrid>
			
	
			<p:panel id="basicInformationGrid1" >
			
			<h3 style="color:#006ECC">
				<h:outputText  value="Development and distribution of IEC materials" />
			</h3>
			
			<h:panelGrid columns="2" columnClasses="width-8, width-30">			
			<p:outputLabel styleClass="width-50"  value="Name Of IEC"/>				
				<h:panelGroup>
					<p:inputText id="nameOfIec" label="Name Of IEC" maxlength="200"
						styleClass="width-30"
						value="#{templateFourUpdateAction.templateFourData.nameOfIEC}">
						<f:validateLength maximum="200" />
					</p:inputText>
					<p:message for="nameOfIec" />
				</h:panelGroup>
				
				<p:outputLabel styleClass="width-50"  value="No of Pieces"/>				
				<h:panelGroup>
					<p:inputText id="noOfPieces" label="No of Pieces" maxlength="50"
						styleClass="width-30"
						value="#{templateFourUpdateAction.templateFourData.noOfPiece}">
						<f:convertNumber integerOnly="true"/>
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="noOfPieces" />
				</h:panelGroup>		
				
						
			</h:panelGrid>	
							
		</p:panel>
			
				<p:commandButton id="register"
						value="Update"
						update=":outcomeRegistrationForm"
						process="outcomeRegistrationForm"
						styleClass="btn"
						action="#{templateFourUpdateAction.register}" ajax="false" />
					<p:spacer width="5"></p:spacer>
					<p:commandButton id="reset"
						value="#{label['user_Reset']}"
						action="#{templateFourUpdateAction.init}" 
						styleClass="btn"
						update=":outcomeRegistrationForm" immediate="true" ajax="false">
						<p:resetInput target="@form" />
					</p:commandButton>
					<p:commandButton id="back"
						value="Back"
						action="#{templateFourUpdateAction.back}" 
						styleClass="btn">
						
					</p:commandButton>		
			<br></br>
		</h:form>
	</ui:define>
</ui:composition>
