<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/common/standardLayout.xhtml">
	<ui:define name="content">
		<h:form id="templateOneDataRegistrationForm" >
			<h1  style="color:#006ECC; padding-left:10px;">
				<h:outputText  value="#{templateRegistrationAction.title}" />
			</h1>
			<p:messages globalOnly="true" showDetail="true" showSummary="true" closable="true" />
			<p:separator styleClass="color:#006ECC"></p:separator>
			<br></br>
			<p:panelGrid id="basicInformationGrid" columns="2"
				columnClasses="width-20, width-80" layout="grid">
				
						<p:outputLabel value="Code"
									 styleClass="required" />
								<h:panelGroup>
									<p:inputText id="code" label="Code" required="true"
						maxlength="50" styleClass="width-30"
						value="#{templateRegistrationAction.templateOneData.code}">
						<f:validateLength maximum="100" />
					</p:inputText>
									<p:message for="code" />
								</h:panelGroup>	

				<p:outputLabel value="Description"
					styleClass="required" />
				<h:panelGroup>
					<p:inputText id="desc" label="Description" required="true"
						maxlength="500" styleClass="width-30"
						value="#{templateRegistrationAction.templateOneData.desc}">
						<f:validateLength maximum="500" />
					</p:inputText>
					<p:message for="desc" />
				</h:panelGroup>
				
					<p:outputLabel value="Date" styleClass="required"/>
				 <h:panelGroup>
					<p:calendar style="dateBox" id="templateOneDatadate" pattern="dd/MM/yyyy" required="true"
						label="Date" navigator="true" styleClass="date-width-20"
						value="#{templateRegistrationAction.templateOneData.settingDate}">
					</p:calendar>
					<p:message for="templateOneDatadate" />
				</h:panelGroup> 
				
				<p:outputLabel value="No Of Houses"
					styleClass="required" />
				<h:panelGroup>
					<p:inputText id="no_house" label="No of Houses" required="true"
						maxlength="50" styleClass="width-30" 
						value="#{templateRegistrationAction.templateOneData.noOfHouse}">
						<f:validateLength maximum="50" />
						<f:convertNumber integerOnly="true"/>
					</p:inputText>
					<p:message for="no_house" />
				</h:panelGroup>
				
				<p:outputLabel value="No Of Household"
					styleClass="required" />
				<h:panelGroup>
					<p:inputText id="no_household" label="No of Houses" required="true"
						maxlength="50" styleClass="width-30" 
						value="#{templateRegistrationAction.templateOneData.noOfHouseHold}">
						<f:validateLength maximum="50" />
						<f:convertNumber integerOnly="true"/>
					</p:inputText>
					<p:message for="no_household" />
				</h:panelGroup>
													
			</p:panelGrid>
			
	
			<p:panel id="basicInformationGrid1" >
			
			<h3 style="color:#006ECC">
				<h:outputText  value="Population Less Than 5 Years Old" />
			</h3>
			
			<h:panelGrid columns="2" columnClasses="width-8, width-30">			
			<p:outputLabel styleClass="width-50"  value="Male"/>				
				<h:panelGroup>
					<p:inputText id="lessthanMale" label="Male" maxlength="50"
						styleClass="width-30"
						value="#{templateRegistrationAction.templateOneData.maleLessthan5YearsCount}">
						<f:convertNumber integerOnly="true"/>
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="lessthanMale" />
				</h:panelGroup>
				
				<p:outputLabel styleClass="width-50"  value="Female"/>				
				<h:panelGroup>
					<p:inputText id="lessthanfemale" label="Female" maxlength="50"
						styleClass="width-30"
						value="#{templateRegistrationAction.templateOneData.femaleLessthan5YearsCount}">
						<f:convertNumber integerOnly="true"/>
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="lessthanfemale" />
				</h:panelGroup>				
			</h:panelGrid>
			
			<h3 style="color:#006ECC">
				<h:outputText  value="Population Between 5 And 18 Years Old" />
			</h3>
			
			<h:panelGrid columns="2" columnClasses="width-8, width-30">
			
			<p:outputLabel styleClass="width-50"  value="Male"/>				
				<h:panelGroup>
					<p:inputText id="btwmale5_18" label="Male" maxlength="50"
						styleClass="width-30"
						value="#{templateRegistrationAction.templateOneData.male5T18Count}">
						<f:convertNumber integerOnly="true"/>
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="btwmale5_18" />
				</h:panelGroup>
				
				<p:outputLabel styleClass="width-50"  value="Female"/>				
				<h:panelGroup>
					<p:inputText id="btwfemale5_18" label="Female" maxlength="50"
						styleClass="width-30"
						value="#{templateRegistrationAction.templateOneData.female5T18Count}">
						<f:convertNumber integerOnly="true"/>
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="btwfemale5_18" />
				</h:panelGroup>
			</h:panelGrid>
			
			
			<h3 style="color:#006ECC">
				<h:outputText  value="Population Over 18 Years Old" />
			</h3>
			
			<h:panelGrid columns="2" columnClasses="width-8, width-30">
			
			<p:outputLabel styleClass="width-50"  value="Male"/>				
				<h:panelGroup>
					<p:inputText id="maleOver18" label="Male" maxlength="50"
						styleClass="width-30"
						value="#{templateRegistrationAction.templateOneData.maleOver18Count}">
						<f:convertNumber integerOnly="true"/>
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="maleOver18" />
				</h:panelGroup>
				
				<p:outputLabel styleClass="width-50"  value="Female"/>				
				<h:panelGroup>
					<p:inputText id="femaleOver18" label="Female" maxlength="50"
						styleClass="width-30"
						value="#{templateRegistrationAction.templateOneData.femaleOver18Count}">
						<f:convertNumber integerOnly="true"/>
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="femaleOver18" />
				</h:panelGroup>
			</h:panelGrid>
			
			
			</p:panel>
			
				<p:commandButton id="register"
						value="#{label['user_button']}"
						update=":outcomeRegistrationForm"
						process="outcomeRegistrationForm"
						styleClass="btn"
						action="#{templateRegistrationAction.register}" ajax="false" />
					<p:spacer width="5"></p:spacer>
					<p:commandButton id="reset"
						value="#{label['user_Reset']}"
						action="#{templateRegistrationAction.init}" 
						styleClass="btn"
						update=":outcomeRegistrationForm" immediate="true" ajax="false">
						<p:resetInput target="@form" />
					</p:commandButton>	
					
					<p:commandButton id="back"
						value="Back"
						action="#{templateRegistrationAction.back}"
						immediate="true"
						styleClass="btn">
						
					</p:commandButton>	
			<br></br>
		</h:form>
	</ui:define>
</ui:composition>
