<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/common/standardLayout.xhtml">
	<ui:define name="content">
		<h:form id="templateOneDataRegistrationForm" >
			<h1  style="color:#006ECC; padding-left:10px;">
				<h:outputText  value="#{templateOneDeleteAction.title}" />
			</h1>
			<p:messages globalOnly="true" showDetail="true" showSummary="true" closable="true" />
			<p:separator styleClass="color:#006ECC"></p:separator>
			<br></br>
			<p:panelGrid id="basicInformationGrid" columns="2"
				columnClasses="width-20, width-80" layout="grid">
				
						<p:outputLabel value="Code" />

				<h:outputText id="code" value="Description" />

				<p:outputLabel value="Description" />
				
					<h:outputText id="desc"
						value="#{templateOneDeleteAction.templateOneData.desc}" />
					
					
				
				
				<p:outputLabel value="Date" />
				
					<h:outputText id="date"
						value="#{templateOneDeleteAction.templateOneData.settingDateInDateFormat}" />
				
				<p:outputLabel value="No Of Houses"
					 />
				<h:outputText id="noOfHouse"
						value="#{templateOneDeleteAction.templateOneData.noOfHouse}" />
				
				<p:outputLabel value="No Of Household"
					 />
				<h:outputText id="noOfHouseHold"
						value="#{templateOneDeleteAction.templateOneData.noOfHouseHold}" />
													
			</p:panelGrid>
			
	
			<p:panel id="basicInformationGrid1" >
			
			<h3 style="color:#006ECC">
				<h:outputText  value="Population Less Than 5 Years Old" />
			</h3>
			
			<h:panelGrid columns="2" columnClasses="width-8, width-30">			
			<p:outputLabel styleClass="width-50"  value="Male"/>				
				<h:outputText id="lessThan5Male"
						value="#{templateOneDeleteAction.templateOneData.maleLessthan5YearsCount}" />
				
				<p:outputLabel styleClass="width-50"  value="Female"/>				
				<h:outputText id="lessThan5Female"
						value="#{templateOneDeleteAction.templateOneData.femaleLessthan5YearsCount}" />
			</h:panelGrid>
			<h3 style="color:#006ECC">
				<h:outputText  value="Population Between 5 And 18 Years Old" />
			</h3>
			
			<h:panelGrid columns="2" columnClasses="width-8, width-30">
			
			<p:outputLabel styleClass="width-50"  value="Male"/>				
				<h:outputText id="maleBtw5And18"
						value="#{templateOneDeleteAction.templateOneData.male5T18Count}" />
				
			<p:outputLabel styleClass="width-50"  value="Female"/>				
				<h:outputText id="femaleBtw5And18"
						value="#{templateOneDeleteAction.templateOneData.female5T18Count}"/>
						
					

			</h:panelGrid>
			
			
			<h3 style="color:#006ECC">
				<h:outputText  value="Population Over 18 Years Old" />
			</h3>
			
			<h:panelGrid columns="2" columnClasses="width-8, width-30">
			
			<p:outputLabel styleClass="width-50"  value="Male"/>				
				
					<h:outputText id="maleOver18" 	
						value="#{templateOneDeleteAction.templateOneData.maleOver18Count}"/>
						
				
				<p:outputLabel styleClass="width-50"  value="Female"/>				
				
					<h:outputText id="femaleOver18" 
						value="#{templateOneDeleteAction.templateOneData.femaleOver18Count}"/>
						
			</h:panelGrid>
			
			
			</p:panel>
			
			<p:commandButton id="delete"
						value="Delete"
						action="#{templateOneDeleteAction.delete}" 
						styleClass="btn">
					</p:commandButton>	
			
					<p:commandButton id="back"
						value="Back"
						action="#{templateOneDeleteAction.back}" 
						styleClass="btn">
					</p:commandButton>	
					
						
			<br></br>
		</h:form>
	</ui:define>
</ui:composition>
