<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/common/standardLayout.xhtml">
	<ui:define name="content">
		<h:form id="userUpdateCompleteForm"
			enctype="multipart/form-data">
			<h1 style="color:#006ECC; padding-left:2px;">
				<h:outputText value="#{settingUpdateRegisterCompleteAction.title}" />
			</h1>
			<p:messages globalOnly="true" showDetail="false" showSummary="true"
				autoUpdate="true" />
			<p:separator></p:separator>
			<p:panelGrid id="basicInformationGrid" columns="2"
				columnClasses="width-30, width-70" layout="grid">

			<p:outputLabel
					value="#{label['setting_code']}" />
				<h:outputText id="code"
					value="#{settingUpdateRegisterCompleteAction.setting.t1}" />

				<p:outputLabel
					value="#{label['setting_desc']}" />
				<h:outputText id="desc"
					value="#{settingUpdateRegisterCompleteAction.setting.t2}" />
				<ui:fragment rendered="#{ settingUpdateRegisterCompleteAction.setting.n1 != 0 ? true : false}">
					<p:outputLabel
					value="#{label['impact_code']}" />
				</ui:fragment>
				<ui:fragment rendered="#{ settingUpdateRegisterCompleteAction.setting.n1 != 0 ? true : false}">
					<h:outputText id="impactcode"
					value="#{settingUpdateRegisterCompleteAction.setting.impactcode}" />
				</ui:fragment>
				
				<ui:fragment rendered="#{ settingUpdateRegisterCompleteAction.setting.n2 != 0 ? true : false}">
					<p:outputLabel
					value="Outcome Code" />
				</ui:fragment>
				<ui:fragment rendered="#{ settingUpdateRegisterCompleteAction.setting.n2 != 0 ? true : false}">
					<h:outputText id="otcomecode"
					value="#{settingUpdateRegisterCompleteAction.setting.outcomecode}" />
				</ui:fragment>
				
				<ui:fragment rendered="#{ settingUpdateRegisterCompleteAction.setting.n3 != 0 ? true : false}">
					<p:outputLabel
					value="Output Code" />
		
				</ui:fragment>
					
				<ui:fragment rendered="#{ settingUpdateRegisterCompleteAction.setting.n3 != 0 ? true : false}">

				<h:outputText id="outputcode"
					value="#{settingUpdateRegisterCompleteAction.setting.outputcode}" />
				</ui:fragment>
				
				<ui:fragment rendered="#{ settingUpdateRegisterCompleteAction.setting.n4 != 0 ? true : false}">
					<p:outputLabel
					value="Template" />
		
				</ui:fragment>
					
				<ui:fragment rendered="#{ settingUpdateRegisterCompleteAction.setting.n4 != 0 ? true : false}">

				<h:outputText id="template"
					value="#{settingUpdateRegisterCompleteAction.setting.template}" />
				</ui:fragment>
				
				
			</p:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>
