<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/common/standardLayout.xhtml">
	<ui:define name="content">
		<h:form id="settingDetailForm"
			enctype="multipart/form-data">
			<h1 style="color:#006ECC; padding-left:2px;">
				<h:outputText value="#{settingDetailAction.title}" />
			</h1>
			<p:messages globalOnly="true" showDetail="false" showSummary="true"
				autoUpdate="true" />
			<p:separator></p:separator>
			<p:panelGrid id="basicInformationGrid" columns="2"
				columnClasses="width-30, width-70" layout="grid">

				<p:outputLabel
					value="#{label['setting_code']}" />
				<h:outputText id="settingCode"
					value="#{settingDetailAction.settingData.t1}" />

				<p:outputLabel
					value="#{label['setting_desc']}" />
				<h:outputText id="desc"
					value="#{settingDetailAction.settingData.t2}" />
				
				<p:outputLabel
					value="#{label['setting_date']}" />
				<h:outputText id="date"
					value="#{settingDetailAction.settingData.settingDate}" />
					
				<ui:fragment rendered="#{ settingDetailAction.settingData.n1 != 0 ? true : false}">
					<p:outputLabel
					value="#{label['impact_code']}" />
					<h:outputText id="impactCode"
					value="#{settingDetailAction.settingData.impactcode}" />
				</ui:fragment>
		
					
					<p:commandButton id="backBtn"
						value="Back"
						styleClass="btn"
						immediate="true"
						action="goalSearch">
					</p:commandButton>
					<c:set target="#{flash}" property="userId" value="#{settingDetailAction.settingid}" />
			</p:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>
