<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/common/standardLayout.xhtml">
	<ui:define name="content">
		<h:form id="templateFiveDataRegistrationForm" >
			<h1  style="color:#006ECC; padding-left:10px;">
				<h:outputText  value="#{templateFiveDeleteAction.title}" />
			</h1>
			<p:messages globalOnly="true" showDetail="true" showSummary="true" closable="true" />
			<p:separator styleClass="color:#006ECC"></p:separator>
			<br></br>
			<p:panelGrid id="basicInformationGrid" columns="2"
				columnClasses="width-20, width-80" layout="grid">
				
						<p:outputLabel value="Code" />

				<h:outputText id="code" value="Description" />

				<p:outputLabel value="Description" />
				
					<h:outputText id="desc"
						value="#{templateFiveDeleteAction.templateFiveData.desc}" />
					
					
				
				
				<p:outputLabel value="Date" />
				
					<h:outputText id="date"
						value="#{templateFiveDeleteAction.templateFiveData.settingDateInDateFormat}" />
				
			</p:panelGrid>
			
	
				<p:panel id="basicInformationGrid1" >
			
			<h3 style="color:#006ECC">
				<h:outputText  value="Direct Children" />
			</h3>
			
			<h:panelGrid columns="2" columnClasses="width-8, width-30">			
			<p:outputLabel styleClass="width-50"  value="Male"/>				
				<h:outputText id="directMale"
						value="#{templateFiveDeleteAction.templateFiveData.directMale}" />
				
				<p:outputLabel styleClass="width-50"  value="Female"/>				
				<h:outputText id="directFemale"
						value="#{templateFiveDeleteAction.templateFiveData.directFemale}" />
			</h:panelGrid>
			
			<h3 style="color:#006ECC">
				<h:outputText  value="Direct Adult Children" />
			</h3>
			
			<h:panelGrid columns="2" columnClasses="width-8, width-30">
			
			<p:outputLabel styleClass="width-50"  value="Male"/>				
				<h:outputText id="directAdultMale"
						value="#{templateFiveDeleteAction.templateFiveData.directAdultMale}" />
				
			<p:outputLabel styleClass="width-50"  value="Female"/>				
				<h:outputText id="directAdultFemale"
						value="#{templateFiveDeleteAction.templateFiveData.directAdultFemale}"/>
											
			</h:panelGrid>
			
			
			<h3 style="color:#006ECC">
				<h:outputText  value="Provision Fund" />
			</h3>
			
			<h:panelGrid columns="2" columnClasses="width-8, width-30">
			
			<p:outputLabel styleClass="width-50"  value="SCI"/>				
				
					<h:outputText id="sciFund" 	
						value="#{templateFiveDeleteAction.templateFiveData.sciFund}"/>
						
				
				<p:outputLabel styleClass="width-50"  value="Community"/>				
				
					<h:outputText id="commiunityFund" 
						value="#{templateFiveDeleteAction.templateFiveData.communityFund}"/>
						
						
			</h:panelGrid>
	</p:panel>
			
			<p:commandButton id="delete"
						value="Delete"
						action="#{templateFiveDeleteAction.delete}" 
						styleClass="btn">
					</p:commandButton>	
			
					<p:commandButton id="back"
						value="Back"
						action="#{templateFiveDeleteAction.back}" 
						styleClass="btn">
					</p:commandButton>	
					
						
			<br></br>
		</h:form>
	</ui:define>
</ui:composition>
