<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/common/standardLayout.xhtml">
	<ui:define name="content">
		<h:form id="templateFiveDataRegistrationForm" >
			<h1  style="color:#006ECC; padding-left:10px;">
				<h:outputText  value="#{templateFiveUpdateAction.title}" />
			</h1>
			<p:messages globalOnly="true" showDetail="true" showSummary="true" closable="true" />
			<p:separator styleClass="color:#006ECC"></p:separator>
			<br></br>
			<p:panelGrid id="basicInformationGrid" columns="2"
				columnClasses="width-20, width-80" layout="grid">
				
						<p:outputLabel value="Code"
									 styleClass="required" />
								<h:panelGroup>
									<p:inputText id="code" label="Code" required="true"
						maxlength="50" styleClass="width-30"
						value="#{templateFiveUpdateAction.templateFiveData.code}">
						<f:validateLength maximum="50" />
					</p:inputText>
									<p:message for="code" />
								</h:panelGroup>	

				<p:outputLabel value="Description"
					styleClass="required" />
				<h:panelGroup>
					<p:inputText id="desc" label="Description" required="true"
						maxlength="500" styleClass="width-30"
						value="#{templateFiveUpdateAction.templateFiveData.desc}">
						<f:validateLength maximum="500" />
					</p:inputText>
					<p:message for="desc" />
				</h:panelGroup>
				
					<p:outputLabel value="Date" styleClass="required"/>
				 <h:panelGroup>
					<p:calendar style="dateBox" id="templateFiveDatadate" pattern="dd/MM/yyyy" required="true"
						label="Date" navigator="true" styleClass="date-width-20"
						value="#{templateFiveUpdateAction.templateFiveData.settingDate}">
					</p:calendar>
					<p:message for="templateFiveDatadate" />
				</h:panelGroup> 
				
		
													
			</p:panelGrid>
			
	
	<p:panel id="basicInformationGrid1" >
			
			<h3 style="color:#006ECC">
				<h:outputText  value="Direct Children" />
			</h3>
			
			<h:panelGrid columns="2" columnClasses="width-8, width-30">			
			<p:outputLabel styleClass="width-50"  value="Male"/>				
				<h:panelGroup>
					<p:inputText id="directMale" label="Male" maxlength="50"
						styleClass="width-30"
						value="#{templateFiveUpdateAction.templateFiveData.directMale}">
						<f:convertNumber integerOnly="true"/>
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="directMale" />
				</h:panelGroup>
				
				<p:outputLabel styleClass="width-50"  value="Female"/>				
				<h:panelGroup>
					<p:inputText id="directFemale" label="Female" maxlength="50"
						styleClass="width-30"
						value="#{templateFiveUpdateAction.templateFiveData.directFemale}">
						<f:convertNumber integerOnly="true"/>
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="directFemale" />
				</h:panelGroup>				
			</h:panelGrid>
			
			<h3 style="color:#006ECC">
				<h:outputText  value="Direct Adult" />
			</h3>
			
			<h:panelGrid columns="2" columnClasses="width-8, width-30">
			
			<p:outputLabel styleClass="width-50"  value="Male"/>				
				<h:panelGroup>
					<p:inputText id="directAdultMale" label="Boys" maxlength="50"
						styleClass="width-30"
						value="#{templateFiveUpdateAction.templateFiveData.directAdultMale}">
						<f:convertNumber integerOnly="true"/>
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="directAdultMale" />
				</h:panelGroup>
				
				<p:outputLabel styleClass="width-50"  value="Female"/>				
				<h:panelGroup>
					<p:inputText id="directAdultFemale" label="Female" maxlength="50"
						styleClass="width-30"
						value="#{templateFiveUpdateAction.templateFiveData.directAdultFemale}">
						<f:convertNumber integerOnly="true"/>
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="directAdultFemale" />
				</h:panelGroup>
			</h:panelGrid>
			
			
			<h3 style="color:#006ECC">
				<h:outputText  value="Provision Fund" />
			</h3>
			
			<h:panelGrid columns="2" columnClasses="width-8, width-30">
			
			<p:outputLabel styleClass="width-50"  value="SCI"/>				
				<h:panelGroup>
					<p:inputText id="sciFund" label="SCI Fund" maxlength="50"
						styleClass="width-30"
						value="#{templateFiveUpdateAction.templateFiveData.sciFund}">
						<f:convertNumber integerOnly="true"/>
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="sciFund" />
				</h:panelGroup>
				
				<p:outputLabel styleClass="width-50"  value="Community"/>				
				<h:panelGroup>
					<p:inputText id="communityFund" label="Community Fund" maxlength="50"
						styleClass="width-30"
						value="#{templateFiveUpdateAction.templateFiveData.communityFund}">
						<f:convertNumber integerOnly="true"/>
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="communityFund" />
				</h:panelGroup>
			</h:panelGrid>
						
			</p:panel>
			
				<p:commandButton id="register"
						value="Update"
						update=":outcomeRegistrationForm"
						process="outcomeRegistrationForm"
						styleClass="btn"
						action="#{templateFiveUpdateAction.register}" ajax="false" />
					<p:spacer width="5"></p:spacer>
					<p:commandButton id="reset"
						value="#{label['user_Reset']}"
						action="#{templateFiveUpdateAction.init}" 
						styleClass="btn"
						update=":outcomeRegistrationForm" immediate="true" ajax="false">
						<p:resetInput target="@form" />
					</p:commandButton>
					<p:commandButton id="back"
						value="Back"
						action="#{templateFiveUpdateAction.back}" 
						styleClass="btn">
						
					</p:commandButton>		
			<br></br>
		</h:form>
	</ui:define>
</ui:composition>
