<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/common/standardLayout.xhtml">
	<ui:define name="content">
		<h:form id="userDeleteForm"
			enctype="multipart/form-data">
			<h1 style="color:#006ECC; padding-left:2px;">
				<h:outputText value="#{settingDeletAction.title}" />
			</h1>
			<p:messages globalOnly="true" showDetail="false" showSummary="true"
				autoUpdate="true" />
			<p:separator></p:separator>
			<p:panelGrid id="settingDeleteGrid" columns="2"
				columnClasses="width-30, width-70" layout="grid">
			
				<p:outputLabel
					value="#{label['impact_code']}" />
					<h:outputText id="impactCode"
					value="#{settingDetailAction.settingData.impactcode}" />
				
				<p:outputLabel
					value="#{label['setting_code']}" />
				<h:outputText id="settingcode"
					value="#{settingDeletAction.settingData.t1}" />

				<p:outputLabel
					value="#{label['setting_desc']}" />
				<h:outputText id="setting_desc"
					value="#{settingDeletAction.settingData.t2}" />

				<p:outputLabel value="#{label['setting_date']}" />
				<h:outputText id="setting_delete"
					value="#{settingDeletAction.settingData.settingDate}" />
					
				<h:panelGroup>
					<p:commandButton id="delete"
						value="Delete"
						update=":settingDeleteForm"
						process="settingDeleteForm"
						styleClass="btn"
						action="#{settingDeletAction.delete}" ajax="false" />
					<p:spacer width="2"></p:spacer>

					<p:commandButton id="backBtn"
						value="Back"
						styleClass="btn"
						immediate="true"
						action="settingOutcomeSearch">
					</p:commandButton>
					<c:set target="#{flash}" property="impactid" value="#{settingDeletAction.impactID}" />
				</h:panelGroup>	
					
			</p:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>
