<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/common/standardLayout.xhtml">
	<ui:define name="content">
		<h:form id="settingUpdateForm" >
			<h1 style="color:#006ECC; padding-left:3px;">
				<h:outputText  value="#{label['setting_outcome_update']}" />
			</h1>
			 <p:messages globalOnly="true" showDetail="true" showSummary="true" autoUpdate="true" closable="true" />
			<p:separator styleClass="color:#006ECC"></p:separator>
			<br></br>
			<p:panelGrid id="basicInformationGrid" columns="2"
				columnClasses="width-30, width-80" layout="grid">
				
					<p:outputLabel value="Impact Code"
									 for="impact" />
								<h:panelGroup>
									<p:selectOneMenu id="impact" label="#{impact_code}" required="true" style="width:180px;"
										value="#{settingOutcomeUpdateAction.setting.n1}">
										<f:selectItem itemLabel="Select Impact" itemValue="" />
										<f:selectItems value="#{settingOutcomeUpdateAction.settingImpactList}"
											var="impact" itemLabel="#{impact.t1}"
											itemValue="#{impact.id}" />
									</p:selectOneMenu>
									<p:message for="impact" />
								</h:panelGroup>	

				<p:outputLabel value="#{label['setting_code']}"
					styleClass="required" />
				<h:panelGroup>
					<p:inputText id="id" label="Code" required="true"
						maxlength="50" styleClass="width-30"
						value="#{settingOutcomeUpdateAction.setting.t1}">
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="id" />
				</h:panelGroup>

				<p:outputLabel value="#{label['setting_desc']}" styleClass="required" />
				<h:panelGroup>
					<p:inputText id="desc" label="Description" maxlength="500" required="true"
						styleClass="width-30"
						value="#{settingOutcomeUpdateAction.setting.t2}">
						<f:validateLength maximum="500" />
					</p:inputText>
					<p:message for="desc" />
				</h:panelGroup>
				
					<p:outputLabel value="#{label['setting_date']}" styleClass="required"/>
				 <h:panelGroup>
					<p:calendar style="dateBox" id="settingdate" pattern="dd/MM/yyyy" required="true"
						label="Date" navigator="true" styleClass="date-width-20"
						value="#{settingOutcomeUpdateAction.setting.setting_date}">
					</p:calendar>
					<p:message for="settingdate" />
				</h:panelGroup>
			</p:panelGrid>
			<p:commandButton id="register"
						value="Update"
						
						styleClass="btn"
						action="#{settingOutcomeUpdateAction.update()}" ajax="false" />
					<p:spacer width="2"></p:spacer>
					<p:commandButton id="reset"
						value="#{label['user_Reset']}"
						action="#{settingOutcomeUpdateAction.init()}" 
						styleClass="btn"
						update=":settingUpdateForm" immediate="true" ajax="false">
						<p:resetInput target="@form" />
					</p:commandButton>
					<p:spacer width="2"></p:spacer>
					<p:commandButton id="backBtn"
						value="Back"
						styleClass="btn"
						immediate="true"
						action="settingOutcomeSearch">
					</p:commandButton>
	
			<br></br>
		</h:form>
	</ui:define>
</ui:composition>
