<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/common/standardLayout.xhtml">
	<ui:define name="content">
		<h:form id="settingGoalSearchForm">
			<h1 style="color:#006ECC; padding-left:3px">
				<h:outputText value="#{label['setting_outcome_search']}"  />
			</h1>
			<p:panelGrid columns="4"
				columnClasses="width-15, width-35, width-15, width-35" layout="grid">
				
				<p:outputLabel value="#{label['setting_code']}"/>
				<p:inputText id="userId" value="#{settingOutcomeSearchAction.settingSearchData.code}"
					maxlength="10" styleClass="width-90" />

				
						<p:outputLabel value="Impact"
									 />
								<h:panelGroup>
									<p:selectOneMenu id="impact" label="Impact"  styleClass="width:120px;"
										value="#{settingOutcomeSearchAction.settingSearchData.n1}">
										<f:selectItem itemLabel="Select Impact" itemValue="" />
										<f:selectItems value="#{settingOutcomeSearchAction.impactList}"
											var="impact" itemLabel="#{impact.t1}"
											itemValue="#{impact.id}" />
									</p:selectOneMenu>
									<p:message for="impact" />
								</h:panelGroup>	
					
				
			
				<h:panelGroup>
					<p:commandButton id="search" ajax="false" value="#{label['user_search_btn']}"
						actionListener="#{settingOutcomeSearchAction.search('settingGoalSearchForm:settingSearchTable')}"
						update=":settingGoalSearchForm" styleClass="btn" />
					<p:spacer width="5"></p:spacer>
					<p:commandButton id="reset" ajax="false" value="#{label['user_search_reset']}"
						action="#{settingOutcomeSearchAction.reset('settingGoalSearchForm:settingSearchTable')}"
						update=":settingGoalSearchForm" styleClass="btn" />
				</h:panelGroup>

			</p:panelGrid>
			
			<p:messages globalOnly="true" showDetail="true" showSummary="true" closable="true" />
			
			<h2 style="color:#006ECC; padding-left:3px">
				<h:outputText value="#{label['setting_outcome_list']}" />
			</h2>
			
			<p:dataTable styleClass="dataTable" id="settingSearchTable" paginator="true"
				paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				lazy="true" rows="10" rowIndexVar="index"
				rowsPerPageTemplate="10,15,20" value="#{settingOutcomeSearchAction.settingdataModel}"
				var="list" widgetVar="settingSearchTable">
				
				<p:column headerText="Impact Code" styleClass="width-12">
					<h:outputText value="#{list.impactcode}" />
				</p:column>
		
				<p:column headerText="#{label['setting_code']}" styleClass="width-12">
					<h:outputText value="#{list.t1}" />
				</p:column>
				
				<p:column headerText="#{label['setting_desc']}" styleClass="width-10">
					<h:outputText value="#{list.t2}"  />
				</p:column>
				
				<p:column headerText="#{label['setting_date']}" styleClass="width-10">
					<h:outputText value="#{list.settingDate}"  />
				</p:column>
				
				<p:column headerText=" " styleClass="width-16 ">
				<p:commandLink styleClass="link" id="detail" value="#{label['user_detail_link']}"
						action="#{settingOutcomeSearchAction.detail(list.id)}" />
					<p:spacer width="4"></p:spacer>	
					<p:commandLink styleClass="link" id="edit" value="#{label['user_edit_link']}"
						action="#{settingOutcomeSearchAction.edit(list.id)}" />
					<p:spacer width="4"></p:spacer>
					<p:commandLink id="delete" value="#{label['user_delete_link']}"
						action="#{settingOutcomeSearchAction.delete(list.id)}" />
						<p:spacer width="4"></p:spacer>

				</p:column>
			</p:dataTable>
		</h:form>
	</ui:define>
</ui:composition>